In [1]:
import pandas as pd

In [2]:
hs = pd.read_parquet('corrected_HS_1_20.parquet')
col = pd.read_parquet('corrected_Col_1_20.parquet')

In [3]:
hs.head(1)

,ID,Name,School,Power,50 Y Free Time,50 S Free Time,50 L Free Time,100 Y Free Time,100 S Free Time,100 L Free Time,...,200 L Fly Points,100 Y IM Points,100 S IM Points,200 Y IM Points,200 S IM Points,200 L IM Points,400 Y IM Points,400 S IM Points,400 L IM Points,Gender
0,515075,Tiago ASAKAWA,UMBC,15.96,<NA>,<NA>,23.31,<NA>,50.21,<NA>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M

In [4]:
col.head(1)

,Event,Conf_Rank,Time,Name,School,Standard,Date,Gender,Division,Season,SeasonYear,Time_Adj,Time_Sec,Points,Div_Rank,NCAA_Rank,Power,Name_School,ID
0,50 Freestyle SCY Male,2,20.20,Tiago ASAKAWA,UMBC,NS,2020-02-14,M,I,19_20,2020,0 days 00:00:20.200000,20.2,664.81809,252.0,291.0,15.96,Tiago ASAKAWA - UMBC,515075

In [5]:
records = pd.read_csv('combined_events.csv')
records.tail(2)

                               Event    Time
34  200 Individual Medley SCY Female  108.37
35  400 Individual Medley SCY Female  234.60

In [6]:
import pandas as pd

# Data for the events and times
data = {
    "Event": [
        "50 Free", "100 Free", "200 Free", "400 Free", "800 Free", "1500 Free",
        "50 Back", "100 Back", "200 Back", "50 Breast", "100 Breast", "200 Breast",
        "50 Fly", "100 Fly", "200 Fly", "200 IM", "400 IM"
    ],
    "Time": [
        "20.91", "46.40", "1:42.00", "3:40.07", "7:32.12", "14:30.67",
        "23.55", "51.60", "1:51.92", "25.95", "56.88", "2:05.48",
        "22.27", "49.45", "1:50.34", "1:54.00", "4:02.50"
    ]
}

# Function to convert time strings to seconds
def time_to_seconds(time_str):
    if ':' in time_str:
        minutes, seconds = time_str.split(':')
        total_seconds = int(minutes) * 60 + float(seconds)
    else:
        total_seconds = float(time_str)
    return total_seconds

# Apply the conversion to the Time column
data["Time"] = [time_to_seconds(time) for time in data["Time"]]

# Convert to a DataFrame
df = pd.DataFrame(data)

# Add "LCM Male" to the Event column
df["Event"] = df["Event"] + " LCM Male"

# Display the DataFrame
print(df)

                  Event    Time
0      50 Free LCM Male   20.91
1     100 Free LCM Male   46.40
2     200 Free LCM Male  102.00
3     400 Free LCM Male  220.07
4     800 Free LCM Male  452.12
5    1500 Free LCM Male  870.67
6      50 Back LCM Male   23.55
7     100 Back LCM Male   51.60
8     200 Back LCM Male  111.92
9    50 Breast LCM Male   25.95
10  100 Breast LCM Male   56.88
11  200 Breast LCM Male  125.48
12      50 Fly LCM Male   22.27
13     100 Fly LCM Male   49.45
14     200 Fly LCM Male  110.34
15      200 IM LCM Male  114.00
16      400 IM LCM Male  242.50

In [7]:
import pandas as pd

# Data for women's events and times
data_women = {
    "Event": [
        "50 Free", "100 Free", "200 Free", "400 Free", "800 Free", "1500 Free",
        "50 Back", "100 Back", "200 Back", "50 Breast", "100 Breast", "200 Breast",
        "50 Fly", "100 Fly", "200 Fly", "200 IM", "400 IM"
    ],
    "Time": [
        "23.61", "51.71", "1:52.23", "3:55.38", "8:04.79", "15:20.48",
        "26.86", "57.13", "2:03.14", "29.16", "1:04.13", "2:17.55",
        "24.43", "55.18", "2:01.81", "2:06.12", "4:24.38"
    ]
}

# Function to convert time strings to seconds
def time_to_seconds(time_str):
    if ':' in time_str:
        minutes, seconds = time_str.split(':')
        total_seconds = int(minutes) * 60 + float(seconds)
    else:
        total_seconds = float(time_str)
    return total_seconds

# Apply the conversion to the Time column for women's records
data_women["Time"] = [time_to_seconds(time) for time in data_women["Time"]]

# Convert to a DataFrame for women's records
df_women = pd.DataFrame(data_women)

# Add "LCM Female" to the Event column
df_women["Event"] = df_women["Event"] + " LCM Female"

# Display the DataFrame
print(df_women)

                    Event    Time
0      50 Free LCM Female   23.61
1     100 Free LCM Female   51.71
2     200 Free LCM Female  112.23
3     400 Free LCM Female  235.38
4     800 Free LCM Female  484.79
5    1500 Free LCM Female  920.48
6      50 Back LCM Female   26.86
7     100 Back LCM Female   57.13
8     200 Back LCM Female  123.14
9    50 Breast LCM Female   29.16
10  100 Breast LCM Female   64.13
11  200 Breast LCM Female  137.55
12      50 Fly LCM Female   24.43
13     100 Fly LCM Female   55.18
14     200 Fly LCM Female  121.81
15      200 IM LCM Female  126.12
16      400 IM LCM Female  264.38

In [8]:
import pandas as pd

# Data for the events and times
data = {
    "Event": [
        "50 Free", "100 Free", "200 Free", "400 Free", "800 Free", "1500 Free",
        "50 Back", "100 Back", "200 Back", "50 Breast", "100 Breast", "200 Breast",
        "50 Fly", "100 Fly", "200 Fly", "100 IM", "200 IM", "400 IM"
    ],
    "Time": [
        "22.83", "50.25", "1:50.31", "3:50.25", "7:57.42", "15:08.24",
        "25.23", "54.02", "1:58.04", "28.37", "1:02.36", "2:12.50",
        "23.94", "52.71", "1:59.32", "55.11", "2:01.63", "4:15.48"
    ]
}

# Function to convert time strings to seconds
def time_to_seconds(time_str):
    if ':' in time_str:
        minutes, seconds = time_str.split(':')
        total_seconds = int(minutes) * 60 + float(seconds)
    else:
        total_seconds = float(time_str)
    return total_seconds

# Apply the conversion to the Time column
data["Time"] = [time_to_seconds(time) for time in data["Time"]]

# Convert to a DataFrame
df1 = pd.DataFrame(data)

# Add "SCM Female" to the Event column
df1["Event"] = df1["Event"] + " SCM Female"

# Display the DataFrame
print(df1)

                    Event    Time
0      50 Free SCM Female   22.83
1     100 Free SCM Female   50.25
2     200 Free SCM Female  110.31
3     400 Free SCM Female  230.25
4     800 Free SCM Female  477.42
5    1500 Free SCM Female  908.24
6      50 Back SCM Female   25.23
7     100 Back SCM Female   54.02
8     200 Back SCM Female  118.04
9    50 Breast SCM Female   28.37
10  100 Breast SCM Female   62.36
11  200 Breast SCM Female  132.50
12      50 Fly SCM Female   23.94
13     100 Fly SCM Female   52.71
14     200 Fly SCM Female  119.32
15      100 IM SCM Female   55.11
16      200 IM SCM Female  121.63
17      400 IM SCM Female  255.48

In [9]:
import pandas as pd

# Data for the events and times
data = {
    "Event": [
        "50 Free", "100 Free", "200 Free", "400 Free", "800 Free", "1500 Free",
        "50 Back", "100 Back", "200 Back", "50 Breast", "100 Breast", "200 Breast",
        "50 Fly", "100 Fly", "200 Fly", "100 IM", "200 IM", "400 IM"
    ],
    "Time": [
        "19.90", "44.84", "1:38.61", "3:32.25", "7:20.46", "14:06.88",
        "22.11", "48.33", "1:45.63", "24.95", "55.28", "2:00.16",
        "21.32", "47.71", "1:46.85", "49.28", "1:48.88", "3:54.81"
    ]
}

# Function to convert time strings to seconds
def time_to_seconds(time_str):
    if ':' in time_str:
        minutes, seconds = time_str.split(':')
        total_seconds = int(minutes) * 60 + float(seconds)
    else:
        total_seconds = float(time_str)
    return total_seconds

# Apply the conversion to the Time column
data["Time"] = [time_to_seconds(time) for time in data["Time"]]

# Convert to a DataFrame
df2 = pd.DataFrame(data)

# Add "SCM Male" to the Event column
df2["Event"] = df2["Event"] + " SCM Male"

# Display the DataFrame
print(df2)

                  Event    Time
0      50 Free SCM Male   19.90
1     100 Free SCM Male   44.84
2     200 Free SCM Male   98.61
3     400 Free SCM Male  212.25
4     800 Free SCM Male  440.46
5    1500 Free SCM Male  846.88
6      50 Back SCM Male   22.11
7     100 Back SCM Male   48.33
8     200 Back SCM Male  105.63
9    50 Breast SCM Male   24.95
10  100 Breast SCM Male   55.28
11  200 Breast SCM Male  120.16
12      50 Fly SCM Male   21.32
13     100 Fly SCM Male   47.71
14     200 Fly SCM Male  106.85
15      100 IM SCM Male   49.28
16      200 IM SCM Male  108.88
17      400 IM SCM Male  234.81

In [10]:
all_records = pd.concat([records, df, df_women, df2, df1],axis=0)
all_records.shape

(106, 2)

In [11]:
all_records.dtypes

Event     object
Time     float64
dtype: object

In [12]:
all_records.Event = all_records.Event.astype('string')

In [13]:
all_records.isna().sum().sum()

0

In [14]:
all_records.set_index('Event',inplace=True)

In [15]:
all_records

                           Time
Event
50 Freestyle SCY Male     17.63
100 Freestyle SCY Male    39.90
200 Freestyle SCY Male    88.81
500 Freestyle SCY Male   242.31
1000 Freestyle SCY Male  513.93
...                         ...
100 Fly SCM Female        52.71
200 Fly SCM Female       119.32
100 IM SCM Female         55.11
200 IM SCM Female        121.63
400 IM SCM Female        255.48

[106 rows x 1 columns]

In [16]:
all_records.to_csv('all_records.csv',index=True)