In [33]:
import pandas as pd

In [34]:
df = pd.read_parquet('CLEANED_SWIM_DATA.parquet')
df.head()

,Event,Conf_Rank,Time,Name,School,Standard,Date,Gender,Division,Season,SeasonYear,Time_Adj,Time_Sec,Div_Rank,NCAA_Rank,ID,Power_Tot,Power,Record,Points
0,50 Freestyle SCY Male,-1,21.22,Ben Beldner,Binghamton,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:21.220000,21.22,-1,-1,394588,22.71,20.52,17.63,573.483330
1,50 Freestyle SCY Male,-1,20.87,Justin Meyn,Binghamton,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:20.870000,20.87,-1,-1,471360,10.06,20.80,17.63,602.822689
2,50 Freestyle SCY Male,-1,21.31,Joshua Franco,New Jersey Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:21.310000,21.31,-1,-1,395308,12.40,22.05,17.63,566.247878
3,50 Freestyle SCY Male,-1,21.05,Gabe Laracuente,UMBC,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:21.050000,21.05,-1,-1,404642,13.77,23.93,17.63,587.490213
4,50 Freestyle SCY Male,-1,21.70,Ryan Board,Binghamton,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:21.700000,21.70,-1,-1,422211,18.21,28.82,17.63,536.262879

In [35]:
df.shape

(358106, 20)

In [36]:
df[df.Name=='Vineet Ranade']

,Event,Conf_Rank,Time,Name,School,Standard,Date,Gender,Division,Season,SeasonYear,Time_Adj,Time_Sec,Div_Rank,NCAA_Rank,ID,Power_Tot,Power,Record,Points
2787,50 Freestyle SCY Male,-1,21.81,Vineet Ranade,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:21.810000,21.81,-1,-1,418728,21.88,33.78,17.63,528.189715
13941,100 Freestyle SCY Male,-1,46.86,Vineet Ranade,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:46.860000,46.86,-1,-1,418728,21.88,23.82,39.90,617.322113
24872,200 Freestyle SCY Male,-1,1:41.96,Vineet Ranade,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:01:41.960000,101.96,-1,-1,418728,21.88,19.71,88.81,660.839707
34949,500 Freestyle SCY Male,-1,4:37.66,Vineet Ranade,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:04:37.660000,277.66,-1,-1,418728,21.88,22.23,242.31,664.620993
42965,1000 Freestyle SCY Male,-1,9:59.66,Vineet Ranade,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:09:59.660000,599.66,-1,-1,418728,21.88,36.06,513.93,629.501353
48146,1650 Freestyle SCY Male,-1,16:50.68,Vineet Ranade,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:16:50.680000,1010.68,-1,-1,418728,21.88,37.04,852.08,599.239041
54083,100 Backstroke SCY Male,-1,53.46,Vineet Ranade,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:53.460000,53.46,-1,-1,418728,21.88,45.20,43.35,533.188093
63578,200 Backstroke SCY Male,-1,1:58.60,Vineet Ranade,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:01:58.600000,118.60,-1,-1,418728,21.88,49.75,95.37,519.973584
72349,100 Breaststroke SCY Male,-1,58.91,Vineet Ranade,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:58.910000,58.91,-1,-1,418728,21.88,30.56,48.71,565.310849
80881,200 Breaststroke SCY Male,-1,2:06.62,Vineet Ranade,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:02:06.620000,126.62,-1,-1,418728,21.88,26.64,106.35,592.523467
88884,100 Butterfly SCY Male,-1,50.59,Vineet Ranade,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:50.590000,50.59,-1,-1,418728,21.88,25.59,42.80,605.532237
98076,200 Butterfly SCY Male,-1,1:52.90,Vineet Ranade,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:01:52.900000,112.90,-1,-1,418728,21.88,25.59,97.35,641.100391
104761,100 Individual Medley SCY Male,-1,1:04.14,Vineet Ranade,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:01:04.140000,64.14,-1,-1,418728,21.88,100.00,46.63,384.246022
111840,200 Individual Medley SCY Male,-1,1:54.71,Vineet Ranade,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:01:54.710000,114.71,-1,-1,418728,21.88,26.19,96.34,592.401414
121093,400 Individual Medley SCY Male,-1,4:07.82,Vineet Ranade,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:04:07.820000,247.82,-1,-1,418728,21.88,26.67,208.82,598.283763
195995,50 Freestyle SCY Male,13,21.82,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2021-12-03,M,III,21_22,2022,0 days 00:00:21.820000,21.82,553,2319,418728,21.88,-1.00,17.63,527.463847
196018,100 Freestyle SCY Male,4,46.26,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2022-02-12,M,III,21_22,2022,0 days 00:00:46.260000,46.26,187,1288,418728,21.88,-1.00,39.90,641.655324
196049,200 Freestyle SCY Male,1,1:40.79,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2022-02-11,M,III,21_22,2022,0 days 00:01:40.790000,100.79,107,965,418728,21.88,-1.00,88.81,684.121556
196092,500 Freestyle SCY Male,23,5:10.80,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2022-01-22,M,III,21_22,2022,0 days 00:05:10.800000,310.80,931,2473,418728,21.88,-1.00,242.31,473.882840
196172,100 Breaststroke SCY Male,3,57.79,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2022-02-11,M,III,21_22,2022,0 days 00:00:57.790000,57.79,196,940,418728,21.88,-1.00,48.71,598.820012
196190,200 Breaststroke SCY Male,2,2:04.89,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2022-02-12,M,III,21_22,2022,0 days 00:02:04.890000,124.89,111,661,418728,21.88,-1.00,106.35,617.489370
196214,100 Butterfly SCY Male,13,53.77,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2021-11-06,M,III,21_22,2022,0 days 00:00:53.770000,53.77,660,2438,418728,21.88,-1.00,42.80,504.325813
196232,200 Butterfly SCY Male,6,2:00.13,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2022-01-15,M,III,21_22,2022,0 days 00:02:00.130000,120.13,391,1447,418728,21.88,-1.00,97.35,532.173735
196249,200 Individual Medley SCY Male,1,1:51.82,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2022-02-10,M,III,21_22,2022,0 days 00:01:51.820000,111.82,87,749,418728,21.88,-1.00,96.34,639.530796
196277,400 Individual Medley SCY Male,10,4:23.13,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2021-11-06,M,III,21_22,2022,0 days 00:04:23.130000,263.13,413,1386,418728,21.88,-1.00,208.82,499.810272
217900,50 Freestyle SCY Male,1,21.12,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2022-12-01,M,III,22_23,2023,0 days 00:00:21.120000,21.12,207,1375,418728,21.88,-1.00,17.63,581.668031
217919,100 Freestyle SCY Male,1,45.93,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2023-02-11,M,III,22_23,2023,0 days 00:00:45.930000,45.93,137,1135,418728,21.88,-1.00,39.90,655.585517
217943,200 Freestyle SCY Male,1,1:39.98,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2023-02-08,M,III,22_23,2023,0 days 00:01:39.980000,99.98,56,807,418728,21.88,-1.00,88.81,700.884108
218030,100 Breaststroke SCY Male,2,57.63,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2023-02-10,M,III,22_23,2023,0 days 00:00:57.630000,57.63,195,963,418728,21.88,-1.00,48.71,603.821441
218038,200 Breaststroke SCY Male,2,2:04.55,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2023-02-11,M,III,22_23,2023,0 days 00:02:04.550000,124.55,100,687,418728,21.88,-1.00,106.35,622.560106
218046,100 Butterfly SCY Male,2,49.96,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2022-12-02,M,III,22_23,2023,0 days 00:00:49.960000,49.96,131,984,418728,21.88,-1.00,42.80,628.729761
218073,100 Individual Medley SCY Male,3,55.54,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2022-10-15,M,III,22_23,2023,0 days 00:00:55.540000,55.54,162,588,418728,21.88,-1.00,46.63,591.804986
218078,200 Individual Medley SCY Male,1,1:50.38,Vineet Ranade,Rose-Hulman Institute of Technology,B,2022-12-01,M,III,22_23,2023,0 days 00:01:50.380000,110.38,36,611,418728,21.88,-1.00,96.34,664.888401
225952,50 Freestyle SCY Male,4,21.72,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2023-11-30,M,III,23_24,2024,0 days 00:00:21.720000,21.72,573,2309,418728,21.88,-1.00,17.63,534.782853
225970,100 Freestyle SCY Male,1,44.85,Vineet Ranade,Rose-Hulman Institute of Technology,B,2024-02-17,M,III,23_24,2024,0 days 00:00:44.850000,44.85,36,655,418728,21.88,-1.00,39.90,704.095137
225984,200 Freestyle SCY Male,1,1:37.63,Vineet Ranade,Rose-Hulman Institute of Technology,B,2024-02-24,M,III,23_24,2024,0 days 00:01:37.630000,97.63,13,397,418728,21.88,-1.00,88.81,752.723963
226007,500 Freestyle SCY Male,17,5:10.00,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2023-10-21,M,III,23_24,2024,0 days 00:05:10,310.00,984,2545,418728,21.88,-1.00,242.31,477.561086
226033,50 Backstroke SCY Male,10,25.81,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2024-01-13,M,III,23_24,2024,0 days 00:00:25.810000,25.81,545,1544,418728,21.88,-1.00,20.07,470.195105
226047,100 Backstroke SCY Male,15,55.30,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2023-11-17,M,III,23_24,2024,0 days 00:00:55.300000,55.30,653,2054,418728,21.88,-1.00,43.35,481.716932
226061,100 Breaststroke SCY Male,1,56.27,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2024-02-24,M,III,23_24,2024,0 days 00:00:56.270000,56.27,110,713,418728,21.88,-1.00,48.71,648.669747
226069,200 Breaststroke SCY Male,1,2:00.65,Vineet Ranade,Rose-Hulman Institute of Technology,B,2024-02-17,M,III,23_24,2024,0 days 00:02:00.650000,120.65,34,401,418728,21.88,-1.00,106.35,684.905264
226076,50 Butterfly SCY Male,1,23.19,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2023-10-05,M,III,23_24,2024,0 days 00:00:23.190000,23.19,50,213,418728,21.88,-1.00,19.90,631.912554
226084,100 Butterfly SCY Male,4,51.39,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2023-10-05,M,III,23_24,2024,0 days 00:00:51.390000,51.39,338,1614,418728,21.88,-1.00,42.80,577.690804
226100,200 Butterfly SCY Male,7,1:59.25,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2023-11-04,M,III,23_24,2024,0 days 00:01:59.250000,119.25,392,1465,418728,21.88,-1.00,97.35,544.042346
226105,100 Individual Medley SCY Male,1,52.72,Vineet Ranade,Rose-Hulman Institute of Technology,NS,2023-10-05,M,III,23_24,2024,0 days 00:00:52.720000,52.72,35,220,418728,21.88,-1.00,46.63,691.942556
226110,200 Individual Medley SCY Male,1,1:49.24,Vineet Ranade,Rose-Hulman Institute of Technology,B,2024-02-15,M,III,23_24,2024,0 days 00:01:49.240000,109.24,22,492,418728,21.88,-1.00,96.34,685.922188

In [37]:
df.head(1)

,Event,Conf_Rank,Time,Name,School,Standard,Date,Gender,Division,Season,SeasonYear,Time_Adj,Time_Sec,Div_Rank,NCAA_Rank,ID,Power_Tot,Power,Record,Points
0,50 Freestyle SCY Male,-1,21.22,Ben Beldner,Binghamton,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:21.220000,21.22,-1,-1,394588,22.71,20.52,17.63,573.48333

In [38]:
sw = df[['Name','School','Gender','Division','SeasonYear','ID','Power_Tot']]
sw = sw.drop_duplicates()
sw.head()

,Name,School,Gender,Division,SeasonYear,ID,Power_Tot
0,Ben Beldner,Binghamton,M,HS,2001,394588,22.71
1,Justin Meyn,Binghamton,M,HS,2001,471360,10.06
2,Joshua Franco,New Jersey Institute of Technology,M,HS,2001,395308,12.40
3,Gabe Laracuente,UMBC,M,HS,2001,404642,13.77
4,Ryan Board,Binghamton,M,HS,2001,422211,18.21

In [39]:
sw.shape

(50151, 7)

In [40]:
sw.Name.nunique()

11242

In [43]:
sw[sw.Name=='Nicholas Edwards']

,Name,School,Gender,Division,SeasonYear,ID,Power_Tot
7241,Nicholas Edwards,Rose-Hulman Institute of Technology,M,HS,2001,663038,25.38
13219,Nicholas Edwards,Western Connecticut State University,M,HS,2001,490867,100.00
186216,Nicholas Edwards,Western Connecticut State University,M,III,2020,490867,100.00
196031,Nicholas Edwards,Rose-Hulman Institute of Technology,M,III,2022,663038,25.38
197373,Nicholas Edwards,Western Connecticut State University,M,III,2022,490867,100.00
217922,Nicholas Edwards,Rose-Hulman Institute of Technology,M,III,2023,663038,25.38

In [44]:
school_counts = df.groupby('Name')['School'].nunique()

# Filter for names with more than one school
names_with_multiple_schools = school_counts[school_counts > 1]

# Count how many names have more than one school
len(names_with_multiple_schools)

1198

In [46]:
df.head()

,Event,Conf_Rank,Time,Name,School,Standard,Date,Gender,Division,Season,SeasonYear,Time_Adj,Time_Sec,Div_Rank,NCAA_Rank,ID,Power_Tot,Power,Record,Points
0,50 Freestyle SCY Male,-1,21.22,Ben Beldner,Binghamton,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:21.220000,21.22,-1,-1,394588,22.71,20.52,17.63,573.483330
1,50 Freestyle SCY Male,-1,20.87,Justin Meyn,Binghamton,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:20.870000,20.87,-1,-1,471360,10.06,20.80,17.63,602.822689
2,50 Freestyle SCY Male,-1,21.31,Joshua Franco,New Jersey Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:21.310000,21.31,-1,-1,395308,12.40,22.05,17.63,566.247878
3,50 Freestyle SCY Male,-1,21.05,Gabe Laracuente,UMBC,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:21.050000,21.05,-1,-1,404642,13.77,23.93,17.63,587.490213
4,50 Freestyle SCY Male,-1,21.70,Ryan Board,Binghamton,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:21.700000,21.70,-1,-1,422211,18.21,28.82,17.63,536.262879

In [47]:
sw = df[['Name','School','Gender','Division','SeasonYear','ID','Power_Tot']]
sw = sw.drop_duplicates()
sw.head()

,Name,School,Gender,Division,SeasonYear,ID,Power_Tot
0,Ben Beldner,Binghamton,M,HS,2001,394588,22.71
1,Justin Meyn,Binghamton,M,HS,2001,471360,10.06
2,Joshua Franco,New Jersey Institute of Technology,M,HS,2001,395308,12.40
3,Gabe Laracuente,UMBC,M,HS,2001,404642,13.77
4,Ryan Board,Binghamton,M,HS,2001,422211,18.21

In [48]:
df[df.Name=='Nicholas Edwards']

,Event,Conf_Rank,Time,Name,School,Standard,Date,Gender,Division,Season,SeasonYear,Time_Adj,Time_Sec,Div_Rank,NCAA_Rank,ID,Power_Tot,Power,Record,Points
7241,50 Freestyle SCY Male,-1,22.16,Nicholas Edwards,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:22.160000,22.16,-1,-1,663038,25.38,40.27,17.63,503.555877
13219,100 Freestyle SCY Male,-1,55.88,Nicholas Edwards,Western Connecticut State University,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:55.880000,55.88,-1,-1,490867,100.00,100.00,39.90,364.040326
19166,100 Freestyle SCY Male,-1,47.46,Nicholas Edwards,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:47.460000,47.46,-1,-1,663038,25.38,28.60,39.90,594.203883
24176,200 Freestyle SCY Male,-1,2:02.20,Nicholas Edwards,Western Connecticut State University,NA,2000-01-01,M,HS,00_01,2001,0 days 00:02:02.200000,122.20,-1,-1,490867,100.00,100.00,88.81,383.859234
30074,200 Freestyle SCY Male,-1,1:42.13,Nicholas Edwards,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:01:42.130000,102.13,-1,-1,663038,25.38,20.31,88.81,657.545204
39549,500 Freestyle SCY Male,-1,4:49.74,Nicholas Edwards,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:04:49.740000,289.74,-1,-1,663038,25.38,38.75,242.31,584.909460
59347,100 Backstroke SCY Male,-1,55.34,Nicholas Edwards,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:55.340000,55.34,-1,-1,663038,25.38,60.96,43.35,480.673125
68001,200 Backstroke SCY Male,-1,1:59.80,Nicholas Edwards,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:01:59.800000,119.80,-1,-1,663038,25.38,54.31,95.37,504.504325
68647,200 Backstroke LCM Male,-1,2:59.87,Nicholas Edwards,Western Connecticut State University,NA,2000-01-01,M,HS,00_01,2001,0 days 00:02:59.870000,179.87,-1,-1,490867,100.00,100.00,111.92,240.905603
77343,100 Breaststroke SCY Male,-1,59.70,Nicholas Edwards,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:59.700000,59.70,-1,-1,663038,25.38,35.84,48.71,543.164522
84656,200 Breaststroke SCY Male,-1,2:14.51,Nicholas Edwards,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:02:14.510000,134.51,-1,-1,663038,25.38,51.62,106.35,494.252375
93337,100 Butterfly SCY Male,-1,52.27,Nicholas Edwards,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:52.270000,52.27,-1,-1,663038,25.38,38.42,42.80,549.001849
94227,100 Butterfly LCM Male,-1,1:15.45,Nicholas Edwards,Western Connecticut State University,NA,2000-01-01,M,HS,00_01,2001,0 days 00:01:15.450000,75.45,-1,-1,490867,100.00,100.00,49.45,281.527715
101468,200 Butterfly SCY Male,-1,2:02.37,Nicholas Edwards,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:02:02.370000,122.37,-1,-1,663038,25.38,59.65,97.35,503.480886
116947,200 Individual Medley SCY Male,-1,1:58.13,Nicholas Edwards,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:01:58.130000,118.13,-1,-1,663038,25.38,37.73,96.34,542.424521
124781,400 Individual Medley SCY Male,-1,4:23.56,Nicholas Edwards,Rose-Hulman Institute of Technology,NA,2000-01-01,M,HS,00_01,2001,0 days 00:04:23.560000,263.56,-1,-1,663038,25.38,52.17,208.82,497.367929
186216,50 Freestyle SCY Male,36,25.97,Nicholas Edwards,Western Connecticut State University,NS,2019-11-07,M,III,19_20,2020,0 days 00:00:25.970000,25.97,2630,5656,490867,100.00,-1.00,17.63,312.853550
186222,100 Freestyle SCY Male,32,57.14,Nicholas Edwards,Western Connecticut State University,NS,2019-11-24,M,III,19_20,2020,0 days 00:00:57.140000,57.14,2508,5501,490867,100.00,-1.00,39.90,340.484996
186233,50 Backstroke SCY Male,15,29.46,Nicholas Edwards,Western Connecticut State University,NS,2019-12-07,M,III,19_20,2020,0 days 00:00:29.460000,29.46,1023,2175,490867,100.00,-1.00,20.07,316.186913
186236,100 Backstroke SCY Male,20,1:07.79,Nicholas Edwards,Western Connecticut State University,NS,2019-11-23,M,III,19_20,2020,0 days 00:01:07.790000,67.79,1457,3151,490867,100.00,-1.00,43.35,261.499224
186239,200 Backstroke SCY Male,17,2:31.97,Nicholas Edwards,Western Connecticut State University,NS,2019-11-16,M,III,19_20,2020,0 days 00:02:31.970000,151.97,1066,2330,490867,100.00,-1.00,95.37,247.150650
186246,100 Breaststroke SCY Male,23,1:24.47,Nicholas Edwards,Western Connecticut State University,NS,2019-10-12,M,III,19_20,2020,0 days 00:01:24.470000,84.47,1508,3078,490867,100.00,-1.00,48.71,191.755092
186251,50 Butterfly SCY Male,24,27.99,Nicholas Edwards,Western Connecticut State University,NS,2019-12-07,M,III,19_20,2020,0 days 00:00:27.990000,27.99,530,1012,490867,100.00,-1.00,19.90,359.377211
186253,100 Butterfly SCY Male,19,1:06.24,Nicholas Edwards,Western Connecticut State University,NS,2019-11-07,M,III,19_20,2020,0 days 00:01:06.240000,66.24,1818,4052,490867,100.00,-1.00,42.80,269.755517
186256,100 Individual Medley SCY Male,12,1:03.69,Nicholas Edwards,Western Connecticut State University,NS,2020-02-16,M,III,19_20,2020,0 days 00:01:03.690000,63.69,738,1340,490867,100.00,-1.00,46.63,392.448343
186260,200 Individual Medley SCY Male,17,2:28.14,Nicholas Edwards,Western Connecticut State University,NS,2019-11-16,M,III,19_20,2020,0 days 00:02:28.140000,148.14,1604,3621,490867,100.00,-1.00,96.34,275.044462
196031,100 Freestyle SCY Male,24,49.68,Nicholas Edwards,Rose-Hulman Institute of Technology,NS,2021-10-23,M,III,21_22,2022,0 days 00:00:49.680000,49.68,1199,3557,663038,25.38,-1.00,39.90,518.052681
196052,200 Freestyle SCY Male,5,1:42.51,Nicholas Edwards,Rose-Hulman Institute of Technology,NS,2022-02-11,M,III,21_22,2022,0 days 00:01:42.510000,102.51,232,1389,663038,25.38,-1.00,88.81,650.259805
196178,100 Breaststroke SCY Male,10,1:01.66,Nicholas Edwards,Rose-Hulman Institute of Technology,NS,2021-12-04,M,III,21_22,2022,0 days 00:01:01.660000,61.66,624,1887,663038,25.38,-1.00,48.71,492.996490
196199,200 Breaststroke SCY Male,14,2:23.19,Nicholas Edwards,Rose-Hulman Institute of Technology,NS,2022-01-07,M,III,21_22,2022,0 days 00:02:23.190000,143.19,732,1908,663038,25.38,-1.00,106.35,409.707973
196213,100 Butterfly SCY Male,12,53.62,Nicholas Edwards,Rose-Hulman Institute of Technology,NS,2021-12-03,M,III,21_22,2022,0 days 00:00:53.620000,53.62,631,2384,663038,25.38,-1.00,42.80,508.570164
196229,200 Butterfly SCY Male,2,1:54.66,Nicholas Edwards,Rose-Hulman Institute of Technology,NS,2022-02-12,M,III,21_22,2022,0 days 00:01:54.660000,114.66,181,932,663038,25.38,-1.00,97.35,612.029076
196251,200 Individual Medley SCY Male,3,1:54.21,Nicholas Edwards,Rose-Hulman Institute of Technology,NS,2022-02-10,M,III,21_22,2022,0 days 00:01:54.210000,114.21,192,1126,663038,25.38,-1.00,96.34,600.215949
197373,200 Freestyle SCY Male,36,2:05.72,Nicholas Edwards,Western Connecticut State University,NS,2022-01-21,M,III,21_22,2022,0 days 00:02:05.720000,125.72,2085,4639,490867,100.00,-1.00,88.81,352.510854
197384,500 Freestyle SCY Male,23,6:08.64,Nicholas Edwards,Western Connecticut State University,NS,2022-01-12,M,III,21_22,2022,0 days 00:06:08.640000,368.64,1431,3122,490867,100.00,-1.00,242.31,283.992349
197408,50 Backstroke SCY Male,19,29.31,Nicholas Edwards,Western Connecticut State University,NS,2021-12-04,M,III,21_22,2022,0 days 00:00:29.310000,29.31,1027,2190,490867,100.00,-1.00,20.07,321.066255
197420,100 Backstroke SCY Male,25,1:06.20,Nicholas Edwards,Western Connecticut State University,NS,2021-12-04,M,III,21_22,2022,0 days 00:01:06.200000,66.20,1420,3107,490867,100.00,-1.00,43.35,280.797565
197432,200 Backstroke SCY Male,17,2:30.12,Nicholas Edwards,Western Connecticut State University,NS,2022-02-05,M,III,21_22,2022,0 days 00:02:30.120000,150.12,1016,2288,490867,100.00,-1.00,95.37,256.400980
197466,50 Butterfly SCY Male,17,27.21,Nicholas Edwards,Western Connecticut State University,NS,2022-02-21,M,III,21_22,2022,0 days 00:00:27.210000,27.21,480,914,490867,100.00,-1.00,19.90,391.177263
197474,100 Butterfly SCY Male,22,1:00.76,Nicholas Edwards,Western Connecticut State University,NS,2022-02-20,M,III,21_22,2022,0 days 00:01:00.760000,60.76,1583,3859,490867,100.00,-1.00,42.80,349.524813
197494,100 Individual Medley SCY Male,26,1:07.66,Nicholas Edwards,Western Connecticut State University,NS,2022-01-14,M,III,21_22,2022,0 days 00:01:07.660000,67.66,757,1341,490867,100.00,-1.00,46.63,327.340895
197502,200 Individual Medley SCY Male,19,2:20.34,Nicholas Edwards,Western Connecticut State University,NS,2022-02-20,M,III,21_22,2022,0 days 00:02:20.340000,140.34,1545,3616,490867,100.00,-1.00,96.34,323.500912
217922,100 Freestyle SCY Male,6,47.34,Nicholas Edwards,Rose-Hulman Institute of Technology,NS,2022-12-03,M,III,22_23,2023,0 days 00:00:47.340000,47.34,486,2134,663038,25.38,-1.00,39.90,598.734007
217952,200 Freestyle SCY Male,20,1:49.31,Nicholas Edwards,Rose-Hulman Institute of Technology,NS,2023-01-28,M,III,22_23,2023,0 days 00:01:49.310000,109.31,954,3026,663038,25.38,-1.00,88.81,536.297691
218032,100 Breaststroke SCY Male,6,58.34,Nicholas Edwards,Rose-Hulman Institute of Technology,NS,2023-02-10,M,III,22_23,2023,0 days 00:00:58.340000,58.34,258,1121,663038,25.38,-1.00,48.71,582.043059
218050,100 Butterfly SCY Male,7,51.39,Nicholas Edwards,Rose-Hulman Institute of Technology,NS,2023-02-10,M,III,22_23,2023,0 days 00:00:51.390000,51.39,311,1591,663038,25.38,-1.00,42.80,577.690804
218061,200 Butterfly SCY Male,4,1:55.39,Nicholas Edwards,Rose-Hulman Institute of Technology,NS,2023-02-11,M,III,22_23,2023,0 days 00:01:55.390000,115.39,197,1047,663038,25.38,-1.00,97.35,600.486637
218081,200 Individual Medley SCY Male,5,1:57.32,Nicholas Edwards,Rose-Hulman Institute of Technology,NS,2022-12-01,M,III,22_23,2023,0 days 00:01:57.320000,117.32,393,1710,663038,25.38,-1.00,96.34,553.737280

In [49]:
df.to_parquet('CLEANED_SWIM_DATA.parquet',index=False)

In [50]:
sw.Name = sw.Name.astype('category')
sw.dtypes

Name          category
School        category
Gender        category
Division      category
SeasonYear       int64
ID               int64
Power_Tot      float64
dtype: object

In [51]:
sw.to_parquet('CLEANED_SWIMMER_INFO.parquet',index=False)