In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet('cleaned_USAS.parquet')
df.head(2)

,Event,Conf_Rank,Time,Name,School,Standard,Date,Gender,Division,Season,SeasonYear,Time_Adj,Time_Sec,Points,Div_Rank,NCAA_Rank,Power
0,50 Freestyle SCY Male,1,19.71,Ilia Rattsev,UMBC,NS,2020-02-28,M,I,19_20,2020,0 days 00:00:19.710000,19.71,715.644049,92.0,94.0,-1.00
1,50 Freestyle SCY Male,2,20.20,Tiago ASAKAWA,UMBC,NS,2020-02-14,M,I,19_20,2020,0 days 00:00:20.200000,20.20,664.818090,252.0,291.0,15.96

In [3]:
df.shape

(539783, 17)

In [4]:
filtered_df = df.groupby('Name',observed=False).filter(lambda x: x['SeasonYear'].nunique() >= 3)
filtered_df.shape

(299511, 17)

In [5]:
df.Name.nunique()

44430

In [6]:
filtered_df.Name.nunique()

14556

In [7]:
filtered_df.head()

,Event,Conf_Rank,Time,Name,School,Standard,Date,Gender,Division,Season,SeasonYear,Time_Adj,Time_Sec,Points,Div_Rank,NCAA_Rank,Power
1,50 Freestyle SCY Male,2,20.20,Tiago ASAKAWA,UMBC,NS,2020-02-14,M,I,19_20,2020,0 days 00:00:20.200000,20.20,664.818090,252.0,291.0,15.96
3,50 Freestyle SCY Male,4,20.72,Niklas Weigelt,UMBC,NS,2020-02-14,M,I,19_20,2020,0 days 00:00:20.720000,20.72,616.009888,542.0,690.0,8.38
4,50 Freestyle SCY Male,5,20.79,Ben Beldner,Binghamton,NS,2020-03-12,M,I,19_20,2020,0 days 00:00:20.790000,20.79,609.808493,595.0,769.0,22.71
5,50 Freestyle SCY Male,6,20.90,Justin Meyn,Binghamton,NS,2020-02-14,M,I,19_20,2020,0 days 00:00:20.900000,20.90,600.230526,670.0,892.0,10.06
6,50 Freestyle SCY Male,7,20.95,Joshua Franco,NJIT,NS,2020-03-12,M,I,19_20,2020,0 days 00:00:20.950000,20.95,595.943181,703.0,949.0,-1.00

In [8]:
filtered_df.to_parquet('4YR_cleaned_USAS.parquet', index=False)