In [1]:
import pandas as pd
from IPython.display import clear_output
import pandas as pd

In [2]:
import time
import random

In [3]:
name_info = pd.read_parquet('./4more_name_info_dtypes.parquet')
name_info.head(2)

             Name School  Power             Link
0   Tiago ASAKAWA   UMBC  15.96  /swimmer/515075
1  Niklas Weigelt   UMBC   8.38  /swimmer/413265

In [4]:
name_info['ID'] = name_info['Link'].apply(lambda x: x.split('/')[-1])
name_info.head(2)

             Name School  Power             Link      ID
0   Tiago ASAKAWA   UMBC  15.96  /swimmer/515075  515075
1  Niklas Weigelt   UMBC   8.38  /swimmer/413265  413265

In [5]:
name_info = name_info.set_index('ID')
name_info = name_info.drop('Link',axis=1)
name_info.head(2)

                  Name School  Power
ID
515075   Tiago ASAKAWA   UMBC  15.96
413265  Niklas Weigelt   UMBC   8.38

In [6]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import time
from IPython.display import clear_output

def get_swimmer_events(swimmer_id):
    url = f"https://www.swimcloud.com/swimmer/{swimmer_id}/powerindex/"
    headers = {
        'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/81.0.4044.138 Safari/537.36',
        'Referer': 'https://google.com/'
    }
    
    while True:
        response = requests.get(url, headers=headers)
        
        if response.status_code != 200:
            print(f"Failed to retrieve data for swimmer_id {swimmer_id}")
            time.sleep(60)
            return None
        
        soup = BeautifulSoup(response.text, 'html.parser')
        table = soup.find('table', class_='c-table-clean')
        
        if table is None:
            print("Table not found, skipping swimmer...")
            time.sleep(7)
            return None

        rows = table.find('tbody').find_all('tr') if table.find('tbody') else None
        if rows is None:
            print("Rows not found, skipping swimmer...")
            time.sleep(7)
            return None
        
        break

    data = {}
    for row in rows:
        cols = row.find_all('td')
        event = cols[0].text.strip()
        time_HS = cols[1].text.strip()
        points = cols[3].text.strip()
        data[event] = (time_HS, points)
    
    return data

def create_swimmer_dataframe(swimmer_ids):
    events = [
        "50 Y Free", "50 S Free", "50 L Free", "100 Y Free", "100 S Free", "100 L Free", "200 Y Free", "200 S Free", 
        "200 L Free", "500 Y Free", "400 S Free", "400 L Free", "1000 Y Free", "800 S Free", "800 L Free", "1650 Y Free", 
        "1500 S Free", "1500 L Free", "100 Y Back", "100 S Back", "100 L Back", "200 Y Back", "200 S Back", "200 L Back", 
        "100 Y Breast", "100 S Breast", "100 L Breast", "200 Y Breast", "200 S Breast", "200 L Breast", "100 Y Fly", 
        "100 S Fly", "100 L Fly", "200 Y Fly", "200 S Fly", "200 L Fly", "100 Y IM", "100 S IM", "200 Y IM", "200 S IM", 
        "200 L IM", "400 Y IM", "400 S IM", "400 L IM"
    ]
    
    columns = [f"{event} Time" for event in events] + [f"{event} Points" for event in events]
    result_df = pd.DataFrame(index=swimmer_ids, columns=columns)
    
    for i, swimmer_id in enumerate(swimmer_ids, 1):
        swimmer_data = get_swimmer_events(swimmer_id)
        if swimmer_data:
            for event in events:
                time_col = f"{event} Time"
                points_col = f"{event} Points"
                time_HS, points = swimmer_data.get(event, ('', ''))
                result_df.at[swimmer_id, time_col] = time_HS
                result_df.at[swimmer_id, points_col] = points
        
        if i % 10 == 0:
            print(f"Processed {i} swimmers...")

        if i % 100 == 0:  # Save every 100 swimmers
            result_df.to_parquet('progress_snapshot.parquet', engine='pyarrow')
        
        if i % 200 == 0:
            clear_output(wait=True)
            time.sleep(10)

    return result_df

# Load the existing DataFrame
# df = pd.read_parquet('./4more_name_info_dtypes.parquet', engine='pyarrow')  # Adjust the file path as needed
swimmer_ids = name_info.index.tolist()

# Create the new DataFrame
new_df = create_swimmer_dataframe(swimmer_ids)[8000:]
print("Done")

Processed 10010 swimmers...
Processed 10020 swimmers...
Processed 10030 swimmers...
Processed 10040 swimmers...
Processed 10050 swimmers...
Table not found, skipping swimmer...
Processed 10060 swimmers...
Table not found, skipping swimmer...
Processed 10070 swimmers...
Table not found, skipping swimmer...
Processed 10080 swimmers...
Processed 10090 swimmers...
Processed 10100 swimmers...
Processed 10110 swimmers...
Processed 10120 swimmers...
Processed 10130 swimmers...
Table not found, skipping swimmer...
Processed 10140 swimmers...
Processed 10150 swimmers...

KeyboardInterrupt

In [ ]:
new_df