In [1]:
import pandas as pd

In [2]:
hs = pd.read_parquet('cleaned_HS.parquet')
hs.head(2)

,Name,School,Power,50 Y Free Time,50 S Free Time,50 L Free Time,100 Y Free Time,100 S Free Time,100 L Free Time,200 Y Free Time,...,200 S Fly Points,200 L Fly Points,100 Y IM Points,100 S IM Points,200 Y IM Points,200 S IM Points,200 L IM Points,400 Y IM Points,400 S IM Points,400 L IM Points
ID,,,,,,,,,,,,,,,,,,,,,
515075,Tiago ASAKAWA,UMBC,15.96,<NA>,<NA>,23.31,<NA>,50.21,<NA>,<NA>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
413265,Niklas Weigelt,UMBC,8.38,<NA>,<NA>,23.60,44.36,<NA>,<NA>,1:37.44,...,NaN,NaN,100.0,NaN,18.97,NaN,NaN,100.0,NaN,NaN

In [3]:
col = pd.read_parquet('4YR_cleaned_USAS.parquet')
col.head(2)

,Event,Conf_Rank,Time,Name,School,Standard,Date,Gender,Division,Season,SeasonYear,Time_Adj,Time_Sec,Points,Div_Rank,NCAA_Rank,Power
0,50 Freestyle SCY Male,2,20.20,Tiago ASAKAWA,UMBC,NS,2020-02-14,M,I,19_20,2020,0 days 00:00:20.200000,20.20,664.818090,252.0,291.0,15.96
1,50 Freestyle SCY Male,4,20.72,Niklas Weigelt,UMBC,NS,2020-02-14,M,I,19_20,2020,0 days 00:00:20.720000,20.72,616.009888,542.0,690.0,8.38

In [4]:
hs.shape

(11242, 91)

In [5]:
col.shape

(299511, 17)

In [6]:
hs.Name.nunique()

11242

In [7]:
col.Name.nunique()

14556

In [8]:
unique_names_hs = hs['Name'].unique().tolist()
unique_names_col = col['Name'].unique().tolist()

In [9]:
unique_names_hs_lower = [name.lower() for name in unique_names_hs]
unique_names_col_lower = [name.lower() for name in unique_names_col]

count = 0
for name in unique_names_hs_lower:
    found = False
    for name2 in unique_names_col_lower:
        if (name == name2):
            found = True
    if (found == False):
        count = count + 1
print(count)

0

In [10]:
col_filtered = col[col['Name'].str.lower().isin(unique_names_hs_lower)]

In [11]:
col_filtered.shape

(231748, 17)

In [17]:
# Reset the index of hs to get 'ID' as a column instead of the index
hs_reset = hs.reset_index()

# Create a mapping of 'Name' to 'ID' from the reset 'hs' DataFrame
name_to_id_mapping = hs_reset.set_index('Name')['ID'].to_dict()

# Filter rows in 'col' based on the condition
col_filtered = col[col['Name'].str.lower().isin(unique_names_hs_lower)].copy()

# Add the 'ID' column to col_filtered using .loc to avoid the SettingWithCopyWarning
col_filtered.loc[:, 'ID'] = col_filtered['Name'].map(name_to_id_mapping)

col_filtered.ID = col_filtered.ID.astype('int')
col_filtered.ID = col_filtered.ID.astype('category')
col_filtered.head(2)

,Event,Conf_Rank,Time,Name,School,Standard,Date,Gender,Division,Season,SeasonYear,Time_Adj,Time_Sec,Points,Div_Rank,NCAA_Rank,Power,ID
0,50 Freestyle SCY Male,2,20.20,Tiago ASAKAWA,UMBC,NS,2020-02-14,M,I,19_20,2020,0 days 00:00:20.200000,20.20,664.818090,252.0,291.0,15.96,515075
1,50 Freestyle SCY Male,4,20.72,Niklas Weigelt,UMBC,NS,2020-02-14,M,I,19_20,2020,0 days 00:00:20.720000,20.72,616.009888,542.0,690.0,8.38,413265

In [36]:
name_to_gender_mapping = col_filtered.set_index('Name')['School'].apply(lambda x: 'M' if 'M' in x else 'F').to_dict()

# Add the 'Gender' column to hs based on the 'Name' and the mapping
hs['Gender'] = hs['Name'].map(name_to_gender_mapping)

hs[hs.Name=='Brianna Brunk']

,Name,School,Power,50 Y Free Time,50 S Free Time,50 L Free Time,100 Y Free Time,100 S Free Time,100 L Free Time,200 Y Free Time,...,200 L Fly Points,100 Y IM Points,100 S IM Points,200 Y IM Points,200 S IM Points,200 L IM Points,400 Y IM Points,400 S IM Points,400 L IM Points,Gender
ID,,,,,,,,,,,,,,,,,,,,,
1309404,Brianna Brunk,Millikin University,78.84,29.25,<NA>,<NA>,1:02.23,<NA>,<NA>,2:07.22,...,NaN,100.0,NaN,100.0,NaN,NaN,NaN,NaN,NaN,F

In [38]:
hs.to_parquet('HS_1_20.parquet',index=True)
col_filtered.to_parquet('Col_1_20.parquet',index=True)