In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./combined_data.csv')
df.head(2)

,Event Code,TextBox5,TextBox6,Event Rank,Swim Time Formatted,Full Name,Level4 Name,Time Standard Name,Calendar Date,Gender,Division,Season
0,50 Freestyle SCY Male,Name,Team,1,19.71,Ilia Rattsev,UMBC,NS,02/28/2020 00:00:00,M,I,19_20
1,50 Freestyle SCY Male,Name,Team,2,20.20,Tiago ASAKAWA,UMBC,NS,02/14/2020 00:00:00,M,I,19_20

In [3]:
df = df.drop(['TextBox5','TextBox6'],axis=1)

In [4]:
df.Season.value_counts()

Season
19_20    122931
23_24    122187
21_22    119358
22_23    118813
20_21     56496
Name: count, dtype: int64

In [5]:
df['Season'].str.split('_')

0         [19, 20]
1         [19, 20]
2         [19, 20]
3         [19, 20]
4         [19, 20]
            ...
539780    [23, 24]
539781    [23, 24]
539782    [23, 24]
539783    [23, 24]
539784    [23, 24]
Name: Season, Length: 539785, dtype: object

In [6]:
df.loc[202455]

Event Code             100 Freestyle SCY Male
Event Rank                                 26
Swim Time Formatted                   1:01.79
Full Name                        Eli Stiewing
Level4 Name                  Purchase College
Time Standard Name           23-24 Div III NS
Calendar Date             01/29/2023 00:00:00
Gender                                      M
Division                                  III
Season                                  22_23
Name: 202455, dtype: object

In [7]:
df['SeasonYear'] = df['Season'].str.split('_').str[1].astype(int) + 2000

In [8]:
df.head(2)

,Event Code,Event Rank,Swim Time Formatted,Full Name,Level4 Name,Time Standard Name,Calendar Date,Gender,Division,Season,SeasonYear
0,50 Freestyle SCY Male,1,19.71,Ilia Rattsev,UMBC,NS,02/28/2020 00:00:00,M,I,19_20,2020
1,50 Freestyle SCY Male,2,20.20,Tiago ASAKAWA,UMBC,NS,02/14/2020 00:00:00,M,I,19_20,2020

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 539785 entries, 0 to 539784
Data columns (total 11 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Event Code           539785 non-null  object
 1   Event Rank           539785 non-null  int64
 2   Swim Time Formatted  539785 non-null  object
 3   Full Name            539785 non-null  object
 4   Level4 Name          539785 non-null  object
 5   Time Standard Name   539785 non-null  object
 6   Calendar Date        539785 non-null  object
 7   Gender               539785 non-null  object
 8   Division             539785 non-null  object
 9   Season               539785 non-null  object
 10  SeasonYear           539785 non-null  int64
dtypes: int64(2), object(9)
memory usage: 45.3+ MB

In [10]:
df.rename(columns={'Event Rank': 'Conf_Rank', 'Event Code': 'Event', 'Swim Time Formatted': 'Time', 'Full Name': 'Name', 'Level4 Name': 'School', 'Time Standard Name': 'Standard', 'Calendar Date': 'Date'}, inplace=True)

In [11]:
df.head(2)

,Event,Conf_Rank,Time,Name,School,Standard,Date,Gender,Division,Season,SeasonYear
0,50 Freestyle SCY Male,1,19.71,Ilia Rattsev,UMBC,NS,02/28/2020 00:00:00,M,I,19_20,2020
1,50 Freestyle SCY Male,2,20.20,Tiago ASAKAWA,UMBC,NS,02/14/2020 00:00:00,M,I,19_20,2020

In [12]:
df.Event = df.Event.astype('category')
df.Name = df.Name.astype('category')
df.Standard.value_counts()

Standard
NS                  488273
23-24 Div III NS     20947
B                    20292
A                    10094
Unknown                172
No Standard              7
Name: count, dtype: int64

In [13]:
df['Standard'] = df['Standard'].replace({
    'Unknown': 'NS',
    'No Standard': 'NS',
    '23-24 Div III NS': 'NS'
})
df.Standard = df.Standard.astype('category')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 539785 entries, 0 to 539784
Data columns (total 11 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Event       539785 non-null  category
 1   Conf_Rank   539785 non-null  int64
 2   Time        539785 non-null  object
 3   Name        539785 non-null  category
 4   School      539785 non-null  object
 5   Standard    539785 non-null  category
 6   Date        539785 non-null  object
 7   Gender      539785 non-null  object
 8   Division    539785 non-null  object
 9   Season      539785 non-null  object
 10  SeasonYear  539785 non-null  int64
dtypes: category(3), int64(2), object(6)
memory usage: 37.4+ MB

In [14]:
df.Standard.value_counts()

Standard
NS    509399
B      20292
A      10094
Name: count, dtype: int64

In [15]:
df.School = df.School.astype('category')
df.Gender = df.Gender.astype('category')
# df.Division = pd.Categorical(df.Division, categories=['III','II','I'],ordered=True)
df.Division = df.Division.astype('category')
df.Season = df.Season.astype('category')
df['SeasonYear'] = df['SeasonYear'].astype('int64')
# df['SeasonYear'] = pd.to_datetime(df['SeasonYear'], format='%Y')
df.head(2)

,Event,Conf_Rank,Time,Name,School,Standard,Date,Gender,Division,Season,SeasonYear
0,50 Freestyle SCY Male,1,19.71,Ilia Rattsev,UMBC,NS,02/28/2020 00:00:00,M,I,19_20,2020
1,50 Freestyle SCY Male,2,20.20,Tiago ASAKAWA,UMBC,NS,02/14/2020 00:00:00,M,I,19_20,2020

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 539785 entries, 0 to 539784
Data columns (total 11 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Event       539785 non-null  category
 1   Conf_Rank   539785 non-null  int64
 2   Time        539785 non-null  object
 3   Name        539785 non-null  category
 4   School      539785 non-null  category
 5   Standard    539785 non-null  category
 6   Date        539785 non-null  object
 7   Gender      539785 non-null  category
 8   Division    539785 non-null  category
 9   Season      539785 non-null  category
 10  SeasonYear  539785 non-null  int64
dtypes: category(7), int64(2), object(2)
memory usage: 23.5+ MB

In [17]:
df.Date = pd.to_datetime(df.Date)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 539785 entries, 0 to 539784
Data columns (total 11 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Event       539785 non-null  category
 1   Conf_Rank   539785 non-null  int64
 2   Time        539785 non-null  object
 3   Name        539785 non-null  category
 4   School      539785 non-null  category
 5   Standard    539785 non-null  category
 6   Date        539785 non-null  datetime64[ns]
 7   Gender      539785 non-null  category
 8   Division    539785 non-null  category
 9   Season      539785 non-null  category
 10  SeasonYear  539785 non-null  int64
dtypes: category(7), datetime64[ns](1), int64(2), object(1)
memory usage: 23.5+ MB

In [18]:
df.Time = df.Time.str.strip('(a)c')

In [19]:
df.head(2)

,Event,Conf_Rank,Time,Name,School,Standard,Date,Gender,Division,Season,SeasonYear
0,50 Freestyle SCY Male,1,19.71,Ilia Rattsev,UMBC,NS,2020-02-28,M,I,19_20,2020
1,50 Freestyle SCY Male,2,20.20,Tiago ASAKAWA,UMBC,NS,2020-02-14,M,I,19_20,2020

In [20]:
df.Time = df.Time.astype('string')

In [21]:
def parse_time_to_timedelta(time_str):
    if '.' in time_str:
        # Case 1: S.CC, SS.CC, M:SS.CC, MM:SS.CC formats
        if ':' in time_str:
            minutes, seconds = time_str.split(':')
            seconds, centiseconds = seconds.split('.')
            return pd.Timedelta(minutes=int(minutes), seconds=int(seconds), milliseconds=int(centiseconds)*10)
        else:
            # Cases like S.CC or SS.CC
            seconds, centiseconds = time_str.split('.')
            return pd.Timedelta(seconds=int(seconds), milliseconds=int(centiseconds)*10)
    return pd.Timedelta(seconds=0)

# Apply the function to the Time column to create the Time_Adj column
df['Time_Adj'] = df['Time'].apply(parse_time_to_timedelta)
df.head(2)

,Event,Conf_Rank,Time,Name,School,Standard,Date,Gender,Division,Season,SeasonYear,Time_Adj
0,50 Freestyle SCY Male,1,19.71,Ilia Rattsev,UMBC,NS,2020-02-28,M,I,19_20,2020,0 days 00:00:19.710000
1,50 Freestyle SCY Male,2,20.20,Tiago ASAKAWA,UMBC,NS,2020-02-14,M,I,19_20,2020,0 days 00:00:20.200000

In [22]:
df['Time_Sec'] = df['Time_Adj'].apply(lambda x: x.total_seconds())
df.head(2)

,Event,Conf_Rank,Time,Name,School,Standard,Date,Gender,Division,Season,SeasonYear,Time_Adj,Time_Sec
0,50 Freestyle SCY Male,1,19.71,Ilia Rattsev,UMBC,NS,2020-02-28,M,I,19_20,2020,0 days 00:00:19.710000,19.71
1,50 Freestyle SCY Male,2,20.20,Tiago ASAKAWA,UMBC,NS,2020-02-14,M,I,19_20,2020,0 days 00:00:20.200000,20.20

In [23]:
records = pd.read_csv('combined_events.csv')

In [24]:
merged_df = pd.merge(df, records[['Event', 'Time']], on='Event', how='left', suffixes=('_df', '_record'))
merged_df.head(2)

,Event,Conf_Rank,Time_df,Name,School,Standard,Date,Gender,Division,Season,SeasonYear,Time_Adj,Time_Sec,Time_record
0,50 Freestyle SCY Male,1,19.71,Ilia Rattsev,UMBC,NS,2020-02-28,M,I,19_20,2020,0 days 00:00:19.710000,19.71,17.63
1,50 Freestyle SCY Male,2,20.20,Tiago ASAKAWA,UMBC,NS,2020-02-14,M,I,19_20,2020,0 days 00:00:20.200000,20.20,17.63

In [25]:
# Compute the points based on the provided formula
merged_df['points'] = 1000 * (merged_df['Time_record'] / merged_df['Time_Sec'])**3

# If you want to keep the result in 'df', you can assign the 'points' column
df['Points'] = merged_df['points']
df.head(2)

,Event,Conf_Rank,Time,Name,School,Standard,Date,Gender,Division,Season,SeasonYear,Time_Adj,Time_Sec,Points
0,50 Freestyle SCY Male,1,19.71,Ilia Rattsev,UMBC,NS,2020-02-28,M,I,19_20,2020,0 days 00:00:19.710000,19.71,715.644049
1,50 Freestyle SCY Male,2,20.20,Tiago ASAKAWA,UMBC,NS,2020-02-14,M,I,19_20,2020,0 days 00:00:20.200000,20.20,664.818090

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 539785 entries, 0 to 539784
Data columns (total 14 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Event       539785 non-null  category
 1   Conf_Rank   539785 non-null  int64
 2   Time        539785 non-null  string
 3   Name        539785 non-null  category
 4   School      539785 non-null  category
 5   Standard    539785 non-null  category
 6   Date        539785 non-null  datetime64[ns]
 7   Gender      539785 non-null  category
 8   Division    539785 non-null  category
 9   Season      539785 non-null  category
 10  SeasonYear  539785 non-null  int64
 11  Time_Adj    539785 non-null  timedelta64[ns]
 12  Time_Sec    539785 non-null  float64
 13  Points      539785 non-null  float64
dtypes: category(7), datetime64[ns](1), float64(2), int64(2), string(1), timedelta64[ns](1)
memory usage: 35.9 MB

In [27]:
# For Div_Rank: Rank within Event, Gender, SeasonYear, and Division
df['Div_Rank'] = df.groupby(['SeasonYear', 'Event', 'Division'], observed=False)['Time_Sec'].rank(method='min', ascending=True)

# For NCAA_Rank: Rank within Event, Gender, and SeasonYear (across all divisions)
df['NCAA_Rank'] = df.groupby(['SeasonYear', 'Event'], observed=False)['Time_Sec'].rank(method='min', ascending=True)
df.head(2)

,Event,Conf_Rank,Time,Name,School,Standard,Date,Gender,Division,Season,SeasonYear,Time_Adj,Time_Sec,Points,Div_Rank,NCAA_Rank
0,50 Freestyle SCY Male,1,19.71,Ilia Rattsev,UMBC,NS,2020-02-28,M,I,19_20,2020,0 days 00:00:19.710000,19.71,715.644049,92.0,94.0
1,50 Freestyle SCY Male,2,20.20,Tiago ASAKAWA,UMBC,NS,2020-02-14,M,I,19_20,2020,0 days 00:00:20.200000,20.20,664.818090,252.0,291.0

In [28]:
df[df.Name=='Vineet Ranade']

,Event,Conf_Rank,Time,Name,School,Standard,Date,Gender,Division,Season,SeasonYear,Time_Adj,Time_Sec,Points,Div_Rank,NCAA_Rank
164716,50 Freestyle SCY Male,13,21.82,Vineet Ranade,Rose-Hulman,NS,2021-12-03,M,III,21_22,2022,0 days 00:00:21.820000,21.82,527.463847,553.0,2319.0
164766,100 Freestyle SCY Male,4,46.26,Vineet Ranade,Rose-Hulman,NS,2022-02-12,M,III,21_22,2022,0 days 00:00:46.260000,46.26,641.655324,187.0,1288.0
164826,200 Freestyle SCY Male,1,1:40.79,Vineet Ranade,Rose-Hulman,NS,2022-02-11,M,III,21_22,2022,0 days 00:01:40.790000,100.79,684.121556,107.0,965.0
164895,500 Freestyle SCY Male,23,5:10.80,Vineet Ranade,Rose-Hulman,NS,2022-01-22,M,III,21_22,2022,0 days 00:05:10.800000,310.80,473.882840,931.0,2473.0
165028,100 Breaststroke SCY Male,3,57.79,Vineet Ranade,Rose-Hulman,NS,2022-02-11,M,III,21_22,2022,0 days 00:00:57.790000,57.79,598.820012,196.0,940.0
165056,200 Breaststroke SCY Male,2,2:04.89,Vineet Ranade,Rose-Hulman,NS,2022-02-12,M,III,21_22,2022,0 days 00:02:04.890000,124.89,617.489370,111.0,661.0
165094,100 Butterfly SCY Male,13,53.77,Vineet Ranade,Rose-Hulman,NS,2021-11-06,M,III,21_22,2022,0 days 00:00:53.770000,53.77,504.325813,660.0,2438.0
165129,200 Butterfly SCY Male,6,2:00.13,Vineet Ranade,Rose-Hulman,NS,2022-01-15,M,III,21_22,2022,0 days 00:02:00.130000,120.13,532.173735,391.0,1447.0
165165,200 Individual Medley SCY Male,1,1:51.82,Vineet Ranade,Rose-Hulman,NS,2022-02-10,M,III,21_22,2022,0 days 00:01:51.820000,111.82,639.530796,87.0,749.0
165210,400 Individual Medley SCY Male,10,4:23.13,Vineet Ranade,Rose-Hulman,NS,2021-11-06,M,III,21_22,2022,0 days 00:04:23.130000,263.13,499.810272,413.0,1386.0
210743,50 Freestyle SCY Male,1,21.12,Vineet Ranade,Rose-Hulman,NS,2022-12-01,M,III,22_23,2023,0 days 00:00:21.120000,21.12,581.668031,207.0,1375.0
210800,100 Freestyle SCY Male,1,45.93,Vineet Ranade,Rose-Hulman,NS,2023-02-11,M,III,22_23,2023,0 days 00:00:45.930000,45.93,655.585517,137.0,1135.0
210860,200 Freestyle SCY Male,1,1:39.98,Vineet Ranade,Rose-Hulman,NS,2023-02-08,M,III,22_23,2023,0 days 00:01:39.980000,99.98,700.884108,56.0,807.0
211048,100 Breaststroke SCY Male,2,57.63,Vineet Ranade,Rose-Hulman,NS,2023-02-10,M,III,22_23,2023,0 days 00:00:57.630000,57.63,603.821441,195.0,963.0
211074,200 Breaststroke SCY Male,2,2:04.55,Vineet Ranade,Rose-Hulman,NS,2023-02-11,M,III,22_23,2023,0 days 00:02:04.550000,124.55,622.560106,100.0,687.0
211092,100 Butterfly SCY Male,2,49.96,Vineet Ranade,Rose-Hulman,NS,2022-12-02,M,III,22_23,2023,0 days 00:00:49.960000,49.96,628.729761,131.0,984.0
211154,100 Individual Medley SCY Male,3,55.54,Vineet Ranade,Rose-Hulman,NS,2022-10-15,M,III,22_23,2023,0 days 00:00:55.540000,55.54,591.804986,162.0,588.0
211166,200 Individual Medley SCY Male,1,1:50.38,Vineet Ranade,Rose-Hulman,B,2022-12-01,M,III,22_23,2023,0 days 00:01:50.380000,110.38,664.888401,36.0,611.0
237317,50 Freestyle SCY Male,4,21.72,Vineet Ranade,Rose-Hulman,NS,2023-11-30,M,III,23_24,2024,0 days 00:00:21.720000,21.72,534.782853,573.0,2309.0
237388,100 Freestyle SCY Male,1,44.85,Vineet Ranade,Rose-Hulman,B,2024-02-17,M,III,23_24,2024,0 days 00:00:44.850000,44.85,704.095137,36.0,655.0
237457,200 Freestyle SCY Male,1,1:37.63,Vineet Ranade,Rose-Hulman,B,2024-02-24,M,III,23_24,2024,0 days 00:01:37.630000,97.63,752.723963,13.0,397.0
237530,500 Freestyle SCY Male,17,5:10.00,Vineet Ranade,Rose-Hulman,NS,2023-10-21,M,III,23_24,2024,0 days 00:05:10,310.00,477.561086,984.0,2545.0
237601,50 Backstroke SCY Male,10,25.81,Vineet Ranade,Rose-Hulman,NS,2024-01-13,M,III,23_24,2024,0 days 00:00:25.810000,25.81,470.195105,545.0,1544.0
237643,100 Backstroke SCY Male,15,55.30,Vineet Ranade,Rose-Hulman,NS,2023-11-17,M,III,23_24,2024,0 days 00:00:55.300000,55.30,481.716932,653.0,2054.0
237714,100 Breaststroke SCY Male,1,56.27,Vineet Ranade,Rose-Hulman,NS,2024-02-24,M,III,23_24,2024,0 days 00:00:56.270000,56.27,648.669747,110.0,713.0
237750,200 Breaststroke SCY Male,1,2:00.65,Vineet Ranade,Rose-Hulman,B,2024-02-17,M,III,23_24,2024,0 days 00:02:00.650000,120.65,684.905264,34.0,401.0
237778,50 Butterfly SCY Male,1,23.19,Vineet Ranade,Rose-Hulman,NS,2023-10-05,M,III,23_24,2024,0 days 00:00:23.190000,23.19,631.912554,50.0,213.0
237806,100 Butterfly SCY Male,4,51.39,Vineet Ranade,Rose-Hulman,NS,2023-10-05,M,III,23_24,2024,0 days 00:00:51.390000,51.39,577.690804,338.0,1614.0
237853,200 Butterfly SCY Male,7,1:59.25,Vineet Ranade,Rose-Hulman,NS,2023-11-04,M,III,23_24,2024,0 days 00:01:59.250000,119.25,544.042346,392.0,1465.0
237867,100 Individual Medley SCY Male,1,52.72,Vineet Ranade,Rose-Hulman,NS,2023-10-05,M,III,23_24,2024,0 days 00:00:52.720000,52.72,691.942556,35.0,220.0
237900,200 Individual Medley SCY Male,1,1:49.24,Vineet Ranade,Rose-Hulman,B,2024-02-15,M,III,23_24,2024,0 days 00:01:49.240000,109.24,685.922188,22.0,492.0

In [29]:
df[df.Name=='Gretchen Walsh'].head(8)

,Event,Conf_Rank,Time,Name,School,Standard,Date,Gender,Division,Season,SeasonYear,Time_Adj,Time_Sec,Points,Div_Rank,NCAA_Rank
284403,50 Freestyle SCY Female,2,20.95,Gretchen Walsh,Virginia,A,2022-03-17,F,I,21_22,2022,0 days 00:00:20.950000,20.95,919.223260,2.0,2.0
284588,100 Freestyle SCY Female,1,46.05,Gretchen Walsh,Virginia,A,2022-03-19,F,I,21_22,2022,0 days 00:00:46.050000,46.05,922.608206,1.0,1.0
284795,200 Freestyle SCY Female,10,1:45.74,Gretchen Walsh,Virginia,B,2022-02-05,F,I,21_22,2022,0 days 00:01:45.740000,105.74,823.195609,61.0,61.0
285165,50 Backstroke SCY Female,2,22.81,Gretchen Walsh,Virginia,NS,2022-03-16,F,I,21_22,2022,0 days 00:00:22.810000,22.81,355.588915,2.0,2.0
285247,100 Backstroke SCY Female,2,49.00,Gretchen Walsh,Virginia,A,2022-03-18,F,I,21_22,2022,0 days 00:00:49,49.00,945.903841,2.0,2.0
285394,200 Backstroke SCY Female,14,1:54.67,Gretchen Walsh,Virginia,B,2022-01-15,F,I,21_22,2022,0 days 00:01:54.670000,114.67,809.502120,61.0,62.0
285706,100 Butterfly SCY Female,11,52.18,Gretchen Walsh,Virginia,B,2021-10-30,F,I,21_22,2022,0 days 00:00:52.180000,52.18,747.218689,40.0,41.0
285993,200 Individual Medley SCY Female,47,2:01.24,Gretchen Walsh,Virginia,NS,2022-01-15,F,I,21_22,2022,0 days 00:02:01.240000,121.24,714.149994,222.0,234.0

In [30]:
df[df.Name=='Ben Sampson']

,Event,Conf_Rank,Time,Name,School,Standard,Date,Gender,Division,Season,SeasonYear,Time_Adj,Time_Sec,Points,Div_Rank,NCAA_Rank
98169,50 Freestyle SCY Male,1,20.01,Ben Sampson,Colorado Mesa,NS,2021-02-17,M,II,20_21,2021,0 days 00:00:20.010000,20.01,683.936326,25.0,162.0
98240,100 Freestyle SCY Male,3,44.53,Ben Sampson,Colorado Mesa,NS,2021-02-20,M,II,20_21,2021,0 days 00:00:44.530000,44.53,719.383714,33.0,276.0
98327,200 Freestyle SCY Male,20,1:45.95,Ben Sampson,Colorado Mesa,NS,2021-01-22,M,II,20_21,2021,0 days 00:01:45.950000,105.95,588.955833,243.0,1186.0
98454,100 Backstroke SCY Male,1,48.02,Ben Sampson,Colorado Mesa,NS,2021-02-19,M,II,20_21,2021,0 days 00:00:48.020000,48.02,735.700139,15.0,141.0
106972,50 Freestyle SCY Male,2,20.10,Ben Sampson,Colorado Mesa,B,2021-11-18,M,II,21_22,2022,0 days 00:00:20.100000,20.10,674.790197,34.0,302.0
107054,100 Freestyle SCY Male,11,45.44,Ben Sampson,Colorado Mesa,B,2021-11-20,M,II,21_22,2022,0 days 00:00:45.440000,45.44,677.023462,103.0,828.0
107127,200 Freestyle SCY Male,6,1:39.66,Ben Sampson,Colorado Mesa,B,2021-11-17,M,II,21_22,2022,0 days 00:01:39.660000,99.66,707.657252,83.0,699.0
107254,50 Backstroke SCY Male,1,21.51,Ben Sampson,Colorado Mesa,NS,2022-03-09,M,II,21_22,2022,0 days 00:00:21.510000,21.51,812.308292,5.0,48.0
107286,100 Backstroke SCY Male,1,46.36,Ben Sampson,Colorado Mesa,A,2022-03-10,M,II,21_22,2022,0 days 00:00:46.360000,46.36,817.592735,4.0,62.0
107323,200 Backstroke SCY Male,1,1:41.53,Ben Sampson,Colorado Mesa,A,2022-03-12,M,II,21_22,2022,0 days 00:01:41.530000,101.53,828.804670,2.0,46.0
107558,100 Individual Medley SCY Male,1,51.02,Ben Sampson,Colorado Mesa,NS,2021-10-01,M,II,21_22,2022,0 days 00:00:51.020000,51.02,763.439952,1.0,52.0
107574,200 Individual Medley SCY Male,2,1:46.41,Ben Sampson,Colorado Mesa,B,2022-03-09,M,II,21_22,2022,0 days 00:01:46.410000,106.41,742.117369,5.0,154.0
116425,50 Freestyle SCY Male,2,19.89,Ben Sampson,Colorado Mesa,B,2022-11-17,M,II,22_23,2023,0 days 00:00:19.890000,19.89,696.390098,19.0,214.0
116514,100 Freestyle SCY Male,3,44.15,Ben Sampson,Colorado Mesa,B,2022-11-19,M,II,22_23,2023,0 days 00:00:44.150000,44.15,738.119304,32.0,316.0
116604,200 Freestyle SCY Male,2,1:35.71,Ben Sampson,Colorado Mesa,B,2023-03-07,M,II,22_23,2023,0 days 00:01:35.710000,95.71,798.939073,8.0,160.0
116768,50 Backstroke SCY Male,1,21.43,Ben Sampson,Colorado Mesa,NS,2022-11-16,M,II,22_23,2023,0 days 00:00:21.430000,21.43,821.439541,3.0,43.0
116795,100 Backstroke SCY Male,1,46.06,Ben Sampson,Colorado Mesa,A,2022-11-18,M,II,22_23,2023,0 days 00:00:46.060000,46.06,833.672555,2.0,55.0
116838,200 Backstroke SCY Male,1,1:40.73,Ben Sampson,Colorado Mesa,A,2022-11-19,M,II,22_23,2023,0 days 00:01:40.730000,100.73,848.709075,1.0,36.0
116903,100 Breaststroke SCY Male,10,56.84,Ben Sampson,Colorado Mesa,NS,2023-02-18,M,II,22_23,2023,0 days 00:00:56.840000,56.84,629.349919,107.0,779.0
117089,100 Individual Medley SCY Male,1,50.82,Ben Sampson,Colorado Mesa,NS,2022-09-30,M,II,22_23,2023,0 days 00:00:50.820000,50.82,772.488929,4.0,79.0
117110,200 Individual Medley SCY Male,1,1:44.33,Ben Sampson,Colorado Mesa,A,2023-03-08,M,II,22_23,2023,0 days 00:01:44.330000,104.33,787.394367,1.0,66.0
117161,400 Individual Medley SCY Male,1,3:45.98,Ben Sampson,Colorado Mesa,A,2023-03-09,M,II,22_23,2023,0 days 00:03:45.980000,225.98,789.053156,3.0,65.0
126213,50 Freestyle SCY Male,2,20.04,Ben Sampson,Colorado Mesa,B,2023-11-16,M,II,23_24,2024,0 days 00:00:20.040000,20.04,680.869351,33.0,321.0
126320,100 Freestyle SCY Male,2,43.63,Ben Sampson,Colorado Mesa,B,2023-12-19,M,II,23_24,2024,0 days 00:00:43.630000,43.63,764.826713,16.0,231.0
126435,200 Freestyle SCY Male,2,1:35.08,Ben Sampson,Colorado Mesa,A,2024-03-12,M,II,23_24,2024,0 days 00:01:35.080000,95.08,814.925844,5.0,126.0
126658,50 Backstroke SCY Male,1,21.01,Ben Sampson,Colorado Mesa,NS,2023-11-15,M,II,23_24,2024,0 days 00:00:21.010000,21.01,871.693806,2.0,26.0
126697,100 Backstroke SCY Male,1,45.88,Ben Sampson,Colorado Mesa,A,2024-03-15,M,II,23_24,2024,0 days 00:00:45.880000,45.88,843.523289,1.0,49.0
126752,200 Backstroke SCY Male,1,1:40.34,Ben Sampson,Colorado Mesa,A,2024-03-16,M,II,23_24,2024,0 days 00:01:40.340000,100.34,858.643838,1.0,31.0
126892,200 Breaststroke SCY Male,20,2:08.54,Ben Sampson,Colorado Mesa,NS,2023-09-30,M,II,23_24,2024,0 days 00:02:08.540000,128.54,566.366550,183.0,1061.0
126975,100 Butterfly SCY Male,21,50.49,Ben Sampson,Colorado Mesa,NS,2023-09-30,M,II,23_24,2024,0 days 00:00:50.490000,50.49,609.137301,201.0,1220.0
127075,100 Individual Medley SCY Male,1,48.51,Ben Sampson,Colorado Mesa,NS,2023-12-19,M,II,23_24,2024,0 days 00:00:48.510000,48.51,888.182931,1.0,8.0
127115,200 Individual Medley SCY Male,1,1:41.92,Ben Sampson,Colorado Mesa,A,2024-03-13,M,II,23_24,2024,0 days 00:01:41.920000,101.92,844.581727,1.0,19.0
127189,400 Individual Medley SCY Male,1,3:40.22,Ben Sampson,Colorado Mesa,A,2024-03-14,M,II,23_24,2024,0 days 00:03:40.220000,220.22,852.601317,1.0,15.0

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 539785 entries, 0 to 539784
Data columns (total 16 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Event       539785 non-null  category
 1   Conf_Rank   539785 non-null  int64
 2   Time        539785 non-null  string
 3   Name        539785 non-null  category
 4   School      539785 non-null  category
 5   Standard    539785 non-null  category
 6   Date        539785 non-null  datetime64[ns]
 7   Gender      539785 non-null  category
 8   Division    539785 non-null  category
 9   Season      539785 non-null  category
 10  SeasonYear  539785 non-null  int64
 11  Time_Adj    539785 non-null  timedelta64[ns]
 12  Time_Sec    539785 non-null  float64
 13  Points      539785 non-null  float64
 14  Div_Rank    539785 non-null  float64
 15  NCAA_Rank   539785 non-null  float64
dtypes: category(7), datetime64[ns](1), float64(4), int64(2), string(1), timedelta64[ns](1)
memory usage: 44.1 MB

In [32]:
duplicate_count = df.duplicated().sum()
duplicate_count

2

In [33]:
duplicates = df[df.duplicated(keep=False)]
duplicates

,Event,Conf_Rank,Time,Name,School,Standard,Date,Gender,Division,Season,SeasonYear,Time_Adj,Time_Sec,Points,Div_Rank,NCAA_Rank
400457,100 Freestyle SCY Female,51,54.96,Leona Coha,Augustana (W),NS,2022-11-19,F,II,22_23,2023,0 days 00:00:54.960000,54.96,542.707776,496.0,3297.0
400458,100 Freestyle SCY Female,51,54.96,Leona Coha,Augustana (W),NS,2022-11-19,F,II,22_23,2023,0 days 00:00:54.960000,54.96,542.707776,496.0,3297.0
401023,200 Backstroke SCY Female,21,2:12.16,Leona Coha,Augustana (W),NS,2022-11-19,F,II,22_23,2023,0 days 00:02:12.160000,132.16,528.770646,243.0,1725.0
401024,200 Backstroke SCY Female,21,2:12.16,Leona Coha,Augustana (W),NS,2022-11-19,F,II,22_23,2023,0 days 00:02:12.160000,132.16,528.770646,243.0,1725.0

In [34]:
df.shape

(539785, 16)

In [35]:
df = df.drop_duplicates(keep='last')

In [36]:
df.shape

(539783, 16)

In [39]:
import requests
import csv
from bs4 import BeautifulSoup as bs
import pandas as pd
import time as _time
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import Select
from selenium.webdriver.chrome.options import Options
from selenium.common.exceptions import TimeoutException
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.webdriver.common.action_chains import ActionChains
import re

def getpi(swimmer_name):
    swimmer_name_url = 'https://swimcloud.com/recruiting/rankings/?name='+swimmer_name.replace(' ','+')
    name_url = requests.get(swimmer_name_url, headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/81.0.4044.138 Safari/537.36', 'Referer' : 'https://google.com/'})
    name_url.encoding = 'utf-8'
    name_soup = bs(name_url.text, 'html.parser')
    # print(name_soup)
    # print(name_soup)
    # print(name_url.text)
    names=[]
    links=[]
    idxs=[]
    teams=[]
    swimmer_list = name_soup.find('tbody').find_all('tr')
    i=0
    for swimmer in swimmer_list:
        if len(name_soup.find_all('td', {'class' : 'u-text-end'})) == 0:
            # print('No idx found')
            break
        name = swimmer.find(class_='u-text-semi')
        names.append(name)
        swimmer_link = name['href'] if name else ''
        links.append(swimmer_link)
        idxs.append(float(name_soup.find_all('td', {'class' : 'u-text-end'})[i].text.strip()))
        team_td = swimmer.find_all('td', class_='u-text-center hidden-xs')[0]
        # Find the <img> tag within the <td>
        img_tag = team_td.find('img')
        if img_tag == None:
            teams.append('')
        else:
            # Extract the 'alt' attribute value, which contains the team name
            team_name = img_tag['alt'][:-5]
            teams.append(team_name)
        i = i + 1

    return [names,links,idxs,teams]

    # if (len(names)==0):
    #     return [[names,idxs,teams
    # elif (len(names)==1):
    #     return idxs[0]
    # else:
    #     print('duplicate')
    #     print(names)
    #     print(idxs)
    #     print(teams)
    #     return -1
        # for i in range(len(names)):
        #     swimmer_name_url = 'https://swimcloud.com'+links[i]
        #     print('url:' + swimmer_name_url)
        #     name_url = requests.get(swimmer_name_url, headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/81.0.4044.138 Safari/537.36', 'Referer' : 'https://google.com/'})
        #     name_url.encoding = 'utf-8'
        #     name_soup = bs(name_url.text, 'html.parser')
        #     ul = name_soup.find('ul', class_='o-list-inline o-list-inline--dotted')
        #     location_li = ul.find_all('li')[0]
            
        #     # Extract and print the location text
        #     location = location_li.text.strip()
        #     print(location)  # This should print "Kokomo, IN"

In [41]:
my_dict = {}
j = 0
for name in df.Name.unique():
    lists = getpi(name)
    if len(lists[0]) == 1:
        my_dict[name] = lists[2][0]
    else:
        my_dict[name] = -1
    # print(my_dict)
    j = j + 1
    if (j % 10 == 0):
        print(j)

No idx found
No idx found
No idx found
No idx found
10
{'Ilia Rattsev': -1, 'Tiago ASAKAWA': 15.96, 'Andy Sprague': -1, 'Niklas Weigelt': 8.38, 'Ben Beldner': 22.71, 'Justin Meyn': 10.06, 'Joshua Franco': -1, 'Gabe Laracuente': -1, 'Tyler Pollock': 100.0, 'Tommy Cangelosi': -1}
20
{'Ilia Rattsev': -1, 'Tiago ASAKAWA': 15.96, 'Andy Sprague': -1, 'Niklas Weigelt': 8.38, 'Ben Beldner': 22.71, 'Justin Meyn': 10.06, 'Joshua Franco': -1, 'Gabe Laracuente': -1, 'Tyler Pollock': 100.0, 'Tommy Cangelosi': -1, 'Shane Morris': -1, 'Ryan Board': 18.21, 'Edward Parks': 21.68, 'Kevin Arpin': 33.13, 'Jacob Ketch': 34.67, 'Liam Blair': -1, 'Mattheau Bonner': 24.66, 'Tyler Meyers': 20.75, 'Kevin Roberton': 31.53, 'Sebastian Chang': -1}
No idx found
No idx found
30
{'Ilia Rattsev': -1, 'Tiago ASAKAWA': 15.96, 'Andy Sprague': -1, 'Niklas Weigelt': 8.38, 'Ben Beldner': 22.71, 'Justin Meyn': 10.06, 'Joshua Franco': -1, 'Gabe Laracuente': -1, 'Tyler Pollock': 100.0, 'Tommy Cangelosi': -1, 'Shane Morris': -1, 'Ryan Board': 18.21, 'Edward Parks': 21.68, 'Kevin Arpin': 33.13, 'Jacob Ketch': 34.67, 'Liam Blair': -1, 'Mattheau Bonner': 24.66, 'Tyler Meyers': 20.75, 'Kevin Roberton': 31.53, 'Sebastian Chang': -1, 'Calvin Cleworth': 28.76, 'Jack Carlisle': 34.39, 'Cameron Kubik': 25.61, 'Satori Dobbie': 7.39, 'Ryan Maierle': 20.61, 'Luka Zuric': 16.29, 'Matthew Bennici': -1, 'Jackson Wolter': 28.61, 'Greg Morris': -1, 'Max Hafen': 58.65}
No idx found

KeyboardInterrupt:

In [ ]:
df['Power'] = df['Name'].map(my_dict)

In [ ]:
df.to_parquet('cleaned_USAS.parquet', index=False)

In [ ]:
my_dict