In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('5000_swimmers.csv')
df.head()

,Event,Swim Time,Age,Points,Time Standard,Meet,LSC,Team,Swim Date,PersonKey,SwimEventKey,MeetKey,SortKey,UsasSwimTimeKey
0,50 FR SCY,30.17,14,170,2012-2016 B,2016 NT LAC BB and Under,NT,Lakeside Aquatic Club,01/10/2016,325517,1,94456,2.010003e+09,117238640
1,50 FR SCY,30.73,13,210,"""Slower than B""","2015 NT NTN December ""BB"" and",NT,Lakeside Aquatic Club,12/12/2015,325517,1,87425,2.010003e+09,101373752
2,50 FR SCY,32.31,13,113,"""Slower than B""",2O15 NT MARS D2 L3 Invitational,NT,Lakeside Aquatic Club,05/31/2015,325517,1,119551,2.010003e+09,126543334
3,50 FR SCY,32.63,13,95,"""Slower than B""",2015 NT MARS D2 L3 Invitational,NT,Lakeside Aquatic Club,07/19/2015,325517,1,79314,2.010003e+09,109403838
4,100 FR SCY,1:09.82,13,90,"""Slower than B""",2015 NT LAC Intrasquad Meet,NT,Lakeside Aquatic Club,10/10/2015,325517,2,26123,2.020007e+09,140552299

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 444243 entries, 0 to 444242
Data columns (total 14 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Event            444243 non-null  object
 1   Swim Time        444243 non-null  object
 2   Age              444243 non-null  int64
 3   Points           444243 non-null  object
 4   Time Standard    444243 non-null  object
 5   Meet             444243 non-null  object
 6   LSC              444243 non-null  object
 7   Team             444243 non-null  object
 8   Swim Date        444243 non-null  object
 9   PersonKey        444243 non-null  int64
 10  SwimEventKey     444243 non-null  int64
 11  MeetKey          444243 non-null  int64
 12  SortKey          444243 non-null  float64
 13  UsasSwimTimeKey  444243 non-null  int64
dtypes: float64(1), int64(5), object(8)
memory usage: 47.5+ MB

In [4]:
df.Event = df.Event.astype('category')
df['Points'] = df['Points'].replace('N\\A', 0)
df.Points = df.Points.astype('int')
df.Meet = df.Meet.astype('category')
df.LSC = df.LSC.astype('category')
df.Team = df.Team.astype('category')
df['Swim Date'] = pd.to_datetime(df['Swim Date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 444243 entries, 0 to 444242
Data columns (total 14 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Event            444243 non-null  category
 1   Swim Time        444243 non-null  object
 2   Age              444243 non-null  int64
 3   Points           444243 non-null  int64
 4   Time Standard    444243 non-null  object
 5   Meet             444243 non-null  category
 6   LSC              444243 non-null  category
 7   Team             444243 non-null  category
 8   Swim Date        444243 non-null  datetime64[ns]
 9   PersonKey        444243 non-null  int64
 10  SwimEventKey     444243 non-null  int64
 11  MeetKey          444243 non-null  int64
 12  SortKey          444243 non-null  float64
 13  UsasSwimTimeKey  444243 non-null  int64
dtypes: category(4), datetime64[ns](1), float64(1), int64(6), object(2)
memory usage: 39.8+ MB

In [5]:
def parse_swim_time_to_timedelta(time_str):
    # Case 1: Time in format s.cc (seconds.centiseconds)
    if '.' in time_str and ':' not in time_str:
        return pd.to_timedelta(float(time_str), unit='s')
    
    # Case 2: Time in format ss.cc (seconds.centiseconds)
    elif '.' in time_str and time_str.count(':') == 0:
        return pd.to_timedelta(float(time_str), unit='s')
    
    # Case 3: Time in format m:ss.cc (minutes:seconds.centiseconds)
    elif ':' in time_str and time_str.count(':') == 1:
        minutes, seconds = time_str.split(':')
        return pd.to_timedelta(int(minutes) * 60 + float(seconds), unit='s')
    
    # Case 4: Time in format mm:ss.cc (minutes:seconds.centiseconds)
    elif ':' in time_str and time_str.count(':') == 1:
        minutes, seconds = time_str.split(':')
        return pd.to_timedelta(int(minutes) * 60 + float(seconds), unit='s')

# Apply the function to convert the 'Swim Time' column to timedelta
df['Swim Time'] = df['Swim Time'].str.strip('r')
df['Swim Time'] = df['Swim Time'].apply(parse_swim_time_to_timedelta)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 444243 entries, 0 to 444242
Data columns (total 14 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Event            444243 non-null  category
 1   Swim Time        444243 non-null  timedelta64[ns]
 2   Age              444243 non-null  int64
 3   Points           444243 non-null  int64
 4   Time Standard    444243 non-null  object
 5   Meet             444243 non-null  category
 6   LSC              444243 non-null  category
 7   Team             444243 non-null  category
 8   Swim Date        444243 non-null  datetime64[ns]
 9   PersonKey        444243 non-null  int64
 10  SwimEventKey     444243 non-null  int64
 11  MeetKey          444243 non-null  int64
 12  SortKey          444243 non-null  float64
 13  UsasSwimTimeKey  444243 non-null  int64
dtypes: category(4), datetime64[ns](1), float64(1), int64(6), object(1), timedelta64[ns](1)
memory usage: 39.8+ MB

In [6]:
df['Swim Time'].sort_values()

261528   0 days 00:00:18.790000
261529   0 days 00:00:18.950000
261530   0 days 00:00:19.050000
261531   0 days 00:00:19.090000
261532   0 days 00:00:19.130000
                  ...
60270    0 days 00:27:44.830000
49693    0 days 00:28:43.790000
38106    0 days 00:29:14.860000
269467   0 days 00:30:17.800000
178292   0 days 00:34:33.840000
Name: Swim Time, Length: 444243, dtype: timedelta64[ns]

In [7]:
df['Time Standard'].value_counts()

Time Standard
"Slower than B"                101846
2020-2024 BB                    37361
2016-2020 BB                    33515
2020-2024 A                     23257
2020-2024 AA                    21603
                                ...
2013 Summer Nationals (LCM)         2
2008 Winter Juniors (SCY)           2
2016 Summer US Open                 2
2016 Olympic Trials                 1
2009 Summer US Open                 1
Name: count, Length: 140, dtype: int64

In [8]:
# Too difficult to sort all of these, would've been easy with standardized BB, B, A, AA, AAA, AAAA

In [9]:
df['Time Standard'] = df['Time Standard'].astype('category')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 444243 entries, 0 to 444242
Data columns (total 14 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Event            444243 non-null  category
 1   Swim Time        444243 non-null  timedelta64[ns]
 2   Age              444243 non-null  int64
 3   Points           444243 non-null  int64
 4   Time Standard    444243 non-null  category
 5   Meet             444243 non-null  category
 6   LSC              444243 non-null  category
 7   Team             444243 non-null  category
 8   Swim Date        444243 non-null  datetime64[ns]
 9   PersonKey        444243 non-null  int64
 10  SwimEventKey     444243 non-null  int64
 11  MeetKey          444243 non-null  int64
 12  SortKey          444243 non-null  float64
 13  UsasSwimTimeKey  444243 non-null  int64
dtypes: category(5), datetime64[ns](1), float64(1), int64(6), timedelta64[ns](1)
memory usage: 37.3 MB

In [11]:
df.to_csv('dtypes_5000_swimmers.csv', index=False)