In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet('CLEANED_SWIM_DATA.parquet')
df.head(2)

,Event,Conf_Rank,Time,Name,School,Standard,Date,Gender,Division,Season,SeasonYear,Time_Adj,Time_Sec,Div_Rank,NCAA_Rank,ID,Power_Tot,Power,Record,Points
0,50 Freestyle SCY Male,-1,21.22,Ben Beldner,Binghamton,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:21.220000,21.22,-1,-1,394588,22.71,20.52,17.63,573.483330
1,50 Freestyle SCY Male,-1,20.87,Justin Meyn,Binghamton,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:20.870000,20.87,-1,-1,471360,10.06,20.80,17.63,602.822689

In [3]:
df = df.drop([7572, 10898])

In [4]:
school_counts = df.groupby('Name')['School'].nunique()

# Filter for names with more than one school
names_with_multiple_schools = school_counts[school_counts > 1]

# Count how many names have more than one school
len(names_with_multiple_schools)

1198

In [5]:
tr = df[df['Name'].isin(names_with_multiple_schools.index)]
tr.shape

(44144, 20)

In [6]:
x = pd.read_csv('ToRemove.csv')
x.head()

        ID            Name                                    School  Power
0   880302  Lauren Johnson                                 Bryn Mawr  50.15
1  1653662    Kyle Johnson  University of North Carolina, Wilmington  12.41
2  1653662    Kyle Johnson                           Mary Washington  12.41
3  1131128    Max Mitchell                  Colorado School of Mines  -1.00
4   483789    Max Mitchell                             Ohio Wesleyan  27.64

In [7]:
tr = tr[~tr['ID'].isin(x.ID.values)]
tr.shape

(32461, 20)

In [8]:
tr.head()

,Event,Conf_Rank,Time,Name,School,Standard,Date,Gender,Division,Season,SeasonYear,Time_Adj,Time_Sec,Div_Rank,NCAA_Rank,ID,Power_Tot,Power,Record,Points
15,50 Freestyle SCY Male,-1,32.83,Alex Watson,Maine,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:32.830000,32.83,-1,-1,187922,100.00,100.00,17.63,154.861795
30,50 Freestyle SCY Male,-1,27.27,Zach Bennett,Gardner-Webb University,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:27.270000,27.27,-1,-1,601986,100.00,100.00,17.63,270.210066
47,50 Freestyle SCY Male,-1,21.34,Sam Smith,Oakland University,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:21.340000,21.34,-1,-1,403420,23.81,29.08,17.63,563.863122
50,50 Freestyle SCY Male,-1,21.81,Brandon Cheong,Youngstown St,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:21.810000,21.81,-1,-1,510603,32.94,37.73,17.63,528.189715
76,50 Freestyle SCY Male,-1,22.41,Connor Lamastra,Dartmouth,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:22.410000,22.41,-1,-1,382292,8.07,38.82,17.63,486.890574

In [9]:
tr.loc[:,'isHS'] = tr.loc[:,'Division'] == 'HS'
tr.head()

,Event,Conf_Rank,Time,Name,School,Standard,Date,Gender,Division,Season,...,Time_Adj,Time_Sec,Div_Rank,NCAA_Rank,ID,Power_Tot,Power,Record,Points,isHS
15,50 Freestyle SCY Male,-1,32.83,Alex Watson,Maine,NA,2000-01-01,M,HS,00_01,...,0 days 00:00:32.830000,32.83,-1,-1,187922,100.00,100.00,17.63,154.861795,True
30,50 Freestyle SCY Male,-1,27.27,Zach Bennett,Gardner-Webb University,NA,2000-01-01,M,HS,00_01,...,0 days 00:00:27.270000,27.27,-1,-1,601986,100.00,100.00,17.63,270.210066,True
47,50 Freestyle SCY Male,-1,21.34,Sam Smith,Oakland University,NA,2000-01-01,M,HS,00_01,...,0 days 00:00:21.340000,21.34,-1,-1,403420,23.81,29.08,17.63,563.863122,True
50,50 Freestyle SCY Male,-1,21.81,Brandon Cheong,Youngstown St,NA,2000-01-01,M,HS,00_01,...,0 days 00:00:21.810000,21.81,-1,-1,510603,32.94,37.73,17.63,528.189715,True
76,50 Freestyle SCY Male,-1,22.41,Connor Lamastra,Dartmouth,NA,2000-01-01,M,HS,00_01,...,0 days 00:00:22.410000,22.41,-1,-1,382292,8.07,38.82,17.63,486.890574,True

In [10]:
g = tr.groupby(['ID','isHS'])
g.apply(lambda x:x.head(),include_groups=False)

                                            Event  Conf_Rank      Time  \
ID      isHS
64677   False 208430       200 Freestyle SCY Male         24   1:54.31
              208437       500 Freestyle SCY Male         12   4:59.78
              208442      1000 Freestyle SCY Male          3  10:25.39
              208447      1650 Freestyle SCY Male          1  17:00.26
              208454       50 Backstroke SCY Male         11     26.32
...                                           ...        ...       ...
2957326 False 325271      50 Freestyle SCY Female         50     26.69
              325320     100 Freestyle SCY Female         50     58.88
        True  5706        50 Freestyle SCY Female         -1     34.87
              17436      100 Freestyle SCY Female         -1   1:21.15
              75786   100 Breaststroke SCY Female         -1   1:43.91

                                Name           School Standard       Date  \
ID      isHS
64677   False 208430    Kyle Johnson  Mary Washington       NS 2022-11-11
              208437    Kyle Johnson  Mary Washington       NS 2022-11-18
              208442    Kyle Johnson  Mary Washington       NS 2023-01-21
              208447    Kyle Johnson  Mary Washington       NS 2023-02-19
              208454    Kyle Johnson  Mary Washington       NS 2022-11-11
...                              ...              ...      ...        ...
2957326 False 325271  Caroline Lewis      Susquehanna       NS 2022-02-18
              325320  Caroline Lewis      Susquehanna       NS 2022-02-20
        True  5706    Caroline Lewis      Susquehanna       NA 2000-01-01
              17436   Caroline Lewis      Susquehanna       NA 2000-01-01
              75786   Caroline Lewis      Susquehanna       NA 2000-01-01

                     Gender Division Season  SeasonYear  \
ID      isHS
64677   False 208430      M      III  22_23        2023
              208437      M      III  22_23        2023
              208442      M      III  22_23        2023
              208447      M      III  22_23        2023
              208454      M      III  22_23        2023
...                     ...      ...    ...         ...
2957326 False 325271      F      III  21_22        2022
              325320      F      III  21_22        2022
        True  5706        F       HS  00_01        2001
              17436       F       HS  00_01        2001
              75786       F       HS  00_01        2001

                                   Time_Adj  Time_Sec  Div_Rank  NCAA_Rank  \
ID      isHS
64677   False 208430 0 days 00:01:54.310000    114.31      1498       3840
              208437 0 days 00:04:59.780000    299.78       721       2096
              208442 0 days 00:10:25.390000    625.39       270       1086
              208447 0 days 00:17:00.260000   1020.26       262        916
              208454 0 days 00:00:26.320000     26.32       606       1604
...                                     ...       ...       ...        ...
2957326 False 325271 0 days 00:00:26.690000     26.69      1558       5189
              325320 0 days 00:00:58.880000     58.88      1691       5442
        True  5706   0 days 00:00:34.870000     34.87        -1         -1
              17436  0 days 00:01:21.150000     81.15        -1         -1
              75786  0 days 00:01:43.910000    103.91        -1         -1

                      Power_Tot  Power  Record      Points
ID      isHS
64677   False 208430      12.41   -1.0   88.81  468.956906
              208437      12.41   -1.0  242.31  528.087694
              208442      12.41   -1.0  513.93  554.956716
              208447      12.41   -1.0  852.08  582.516907
              208454      12.41   -1.0   20.07  443.388539
...                         ...    ...     ...         ...
2957326 False 325271     100.00   -1.0   20.37  444.556911
              325320     100.00   -1.0   44.83  441.370002
        True  5706       100.00  100.0   20.37  199.350461
              17436      100.00  100.0   44.83  168.593429
              75786      100.00  100.0   55.73  154.274836

[9846 rows x 19 columns]

In [11]:
pivot_table = tr.pivot_table(values='Points', index='ID', columns='isHS', aggfunc='mean')

# Add a new column for the difference between False and True averages
pivot_table['Difference'] = abs(pivot_table[False] - pivot_table[True])

# Display the pivot table with the new 'Difference' column
pivot_table

isHS          False        True  Difference
ID
64677    511.666850  586.223276   74.556426
104453   547.997676  551.632761    3.635085
116227   671.119222  361.131224  309.987998
148097   687.412044  550.917469  136.494575
167981   614.766926  506.305967  108.460959
...             ...         ...         ...
2770330  586.876652  470.001332  116.875320
2901498  391.225682  361.111969   30.113712
2926048  452.244417   97.600010  354.644408
2939294  381.744392  319.014466   62.729926
2957326  396.877018  174.072909  222.804109

[1002 rows x 3 columns]

In [12]:
pivot_table.sort_values(by='Difference')

isHS          False        True  Difference
ID
450917   764.530572  764.442376    0.088196
1115522  575.218294  575.360862    0.142567
403057   646.782406  646.576954    0.205451
445416   553.096575  553.376522    0.279947
745438   674.223186  675.003087    0.779901
...             ...         ...         ...
187922   544.963336  154.861795  390.101541
335423   815.212861  405.955800  409.257060
1540789  346.644050  761.493861  414.849811
580808   725.833192  270.739129  455.094063
2645330  679.687024  149.542412  530.144612

[1002 rows x 3 columns]

In [13]:
pivot_table[pivot_table.Difference < 100].sort_values(by='Difference')

isHS          False        True  Difference
ID
450917   764.530572  764.442376    0.088196
1115522  575.218294  575.360862    0.142567
403057   646.782406  646.576954    0.205451
445416   553.096575  553.376522    0.279947
745438   674.223186  675.003087    0.779901
...             ...         ...         ...
432801   620.956470  522.591534   98.364936
505663   632.297596  533.758829   98.538767
893664   557.959999  459.305138   98.654861
324159   729.276278  629.663464   99.612813
401679   697.597279  597.721892   99.875387

[765 rows x 3 columns]

In [14]:
good_ids = pivot_table[pivot_table.Difference < 200].sort_values(by='Difference').index
good_ids

Index([ 450917, 1115522,  403057,  445416,  745438,  372310,  651634,  419481,
        323010,  347731,
       ...
        357576,  684852,  368018,  242080,  532793,  344482,  648503,  338156,
       1305895,  457324],
      dtype='int64', name='ID', length=970)

In [15]:
df.shape

(358104, 20)

In [16]:
# df = df[~df['ID'].isin(bad_ids)]

In [17]:
df.shape

(358104, 20)

In [18]:
df[df.ID==501648]

,Event,Conf_Rank,Time,Name,School,Standard,Date,Gender,Division,Season,SeasonYear,Time_Adj,Time_Sec,Div_Rank,NCAA_Rank,ID,Power_Tot,Power,Record,Points
7341,50 Freestyle SCM Male,-1,24.0,Jack Anderson,University of Arizona,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:24,24.00,-1,-1,501648,16.21,28.43,19.90,570.066479
19284,100 Freestyle SCM Male,-1,52.29,Jack Anderson,University of Arizona,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:52.290000,52.29,-1,-1,501648,16.21,24.79,44.84,630.581008
59453,100 Backstroke SCM Male,-1,55.12,Jack Anderson,University of Arizona,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:55.120000,55.12,-1,-1,501648,16.21,14.64,48.33,674.097566
68090,200 Backstroke SCM Male,-1,2:01.55,Jack Anderson,University of Arizona,NA,2000-01-01,M,HS,00_01,2001,0 days 00:02:01.550000,121.55,-1,-1,501648,16.21,15.95,105.63,656.291757
93437,100 Butterfly SCM Male,-1,51.80,Jack Anderson,University of Arizona,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:51.800000,51.80,-1,-1,501648,16.21,1.00,47.71,781.338043
108429,100 Individual Medley SCM Male,-1,1:00.04,Jack Anderson,University of Arizona,NA,2000-01-01,M,HS,00_01,2001,0 days 00:01:00.040000,60.04,-1,-1,501648,16.21,38.62,49.28,552.955328
128675,50 Freestyle SCY Male,58,21.01,Jack Anderson,University of Arizona,NS,2019-12-05,M,I,19_20,2020,0 days 00:00:21.010000,21.01,750,1032,501648,16.21,-1.00,17.63,590.852095
128712,100 Freestyle SCY Male,69,45.75,Jack Anderson,University of Arizona,NS,2019-12-07,M,I,19_20,2020,0 days 00:00:45.750000,45.75,686,876,501648,16.21,-1.00,39.90,663.354060
128819,50 Backstroke SCY Male,11,22.42,Jack Anderson,University of Arizona,NS,2019-12-04,M,I,19_20,2020,0 days 00:00:22.420000,22.42,116,134,501648,16.21,-1.00,20.07,717.356921
128835,100 Backstroke SCY Male,15,47.73,Jack Anderson,University of Arizona,NS,2019-12-05,M,I,19_20,2020,0 days 00:00:47.730000,47.73,133,144,501648,16.21,-1.00,43.35,749.191778
128858,200 Backstroke SCY Male,16,1:44.02,Jack Anderson,University of Arizona,NS,2020-03-05,M,I,19_20,2020,0 days 00:01:44.020000,104.02,101,103,501648,16.21,-1.00,95.37,770.699007
137189,50 Freestyle SCY Male,69,22.05,Jack Anderson,University of Arizona,NS,2020-12-04,M,I,20_21,2021,0 days 00:00:22.050000,22.05,955,1466,501648,16.21,-1.00,17.63,511.129745
137335,50 Backstroke SCY Male,9,22.25,Jack Anderson,University of Arizona,NS,2021-03-02,M,I,20_21,2021,0 days 00:00:22.250000,22.25,75,86,501648,16.21,-1.00,20.07,733.925659
137350,100 Backstroke SCY Male,13,47.93,Jack Anderson,University of Arizona,NS,2021-03-02,M,I,20_21,2021,0 days 00:00:47.930000,47.93,118,132,501648,16.21,-1.00,43.35,739.852283
137380,200 Backstroke SCY Male,14,1:43.37,Jack Anderson,University of Arizona,NS,2021-03-03,M,I,20_21,2021,0 days 00:01:43.370000,103.37,66,67,501648,16.21,-1.00,95.37,785.329297
151557,200 Breaststroke SCY Male,50,2:01.12,Jack Anderson,University of Notre Dame,NS,2023-02-12,M,I,22_23,2023,0 days 00:02:01.120000,121.12,338,407,501648,16.21,-1.00,106.35,676.962943
151667,200 Butterfly SCY Male,65,1:52.56,Jack Anderson,University of Notre Dame,NS,2022-11-11,M,I,22_23,2023,0 days 00:01:52.560000,112.56,544,720,501648,16.21,-1.00,97.35,646.927502
151713,200 Individual Medley SCY Male,60,1:48.60,Jack Anderson,University of Notre Dame,NS,2022-11-17,M,I,22_23,2023,0 days 00:01:48.600000,108.60,365,403,501648,16.21,-1.00,96.34,698.120595
151754,400 Individual Medley SCY Male,28,3:51.01,Jack Anderson,University of Notre Dame,B,2023-02-11,M,I,22_23,2023,0 days 00:03:51.010000,231.01,153,161,501648,16.21,-1.00,208.82,738.624883

In [19]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import time
from IPython.display import clear_output

def get_teams_for_swimmer(swimmer_id):
    url = f"https://www.swimcloud.com/swimmer/{swimmer_id}/"
    headers = {
        'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/81.0.4044.138 Safari/537.36',
        'Referer': 'https://google.com/'
    }

    while True:
        response = requests.get(url, headers=headers)
        
        if response.status_code != 200:
            print(f"Failed to retrieve data for swimmer_id {swimmer_id}")
            time.sleep(60)
            return []
        
        soup = BeautifulSoup(response.text, 'html.parser')
        teams_section = soup.find_all('div', class_='c-card c-card--large c-card--divided')[1]
        if not teams_section:
            print("Teams section not found, skipping swimmer...")
            return []
        
        teams_list = teams_section.find_all('h3', class_='c-list__title')
        break

    teams = [team.get_text(strip=True) for team in teams_list]
    return teams

def match_teams_to_schools(df1, df):
    i = 0
    count = 0
    for index, row in df1.iterrows():
        swimmer_id = row['ID']
        school = row['School']
        teams = get_teams_for_swimmer(swimmer_id)
        
        matched_team = None
        for team in teams:
            if school.lower() in team.lower() or team.lower() in school.lower():
                matched_team = team
                break
        
        if matched_team:
            print(f"Match found for {row['Name']}: {matched_team}")
            # Update 'School' in df directly for matching ID and Name
            df.loc[(df['ID'] == row['ID']) & (df['Name'] == row['Name']), 'School'] = matched_team
            
            # Drop the row from df1 as it's processed
            df1.drop(index, inplace=True)
            count = count + 1
        else:
            print(f"No match found for {row['Name']}: {school}")

        i += 1
        if i % 10 == 0:
            print(i)
        if i % 100 == 0:
            clear_output()

    # Drop rows where all elements are NaN
    df.dropna(how='all', inplace=True)
    print(count)

# Example usage
# dups has ID, Name, School
# dups = tr.drop('Power',axis=1)[['ID','Name','School']]
dups = pd.read_csv('1_21_25_correcteddups.csv')
df.School = df.School.astype('string')
match_teams_to_schools(dups, df)

Match found for Gavin Smith: Linfield University
Match found for Elliot Anderson: Rose-Hulman Institute of Technology
Match found for Sam Brown: University of Missouri
Match found for Nathan Ober: Husson University
Match found for Jack Higgins: U.S. Merchant Marine Academy
Match found for Maggie McGuire: Franklin College
Match found for Maggie McGuire: Auburn University
Match found for David Schlicht: University of Arizona
Match found for David Schlicht: Arizona State University
Match found for Andrew Holmes: Bloomsburg University
110
Match found for Fiona Rosko: College of Saint Benedict
No match found for Rachel Flaherty: Sacred Heart University
Match found for Zachary Martin: Lewis and Clark College
Match found for Anna Curran: Brooklyn College
Match found for Anna Curran: State Maritime University of New York
Match found for Max Chen: California Institute of Technology
Match found for Max Chen: Johns Hopkins University
Match found for Ellie Parker: Macalester College
Match found for Sarah Johnson: Mars Hill University
Match found for Alexander Johnson: Stevens Institute
120
Match found for Jonathan Taylor: Calvin University
Match found for Emily Fox: Washington University (Missouri)
Match found for Joshua Kim: Princeton University
Match found for Joshua Kim: Babson College
Match found for Karan Raju: University of Delaware
Match found for Kadin Denner: University of Wisconsin-Eau Claire
Match found for Mykenzie Liston: University of Houston
Match found for Mykenzie Liston: Auburn University
Match found for Ellie Johnson: Gustavus Adolphus College
Match found for Ashton Smith: Southern Virginia University
130
Match found for Chris Lee: Ramapo College of New Jersey
Match found for Maggie Wells: Colorado School of Mines
Match found for Maggie Wells: University of Nebraska at Kearney
Match found for Chloe McDonald: Purchase College
Match found for Joey Slish: Marywood University
Match found for Ethan Hansen: St Norbert College
Match found for Abigail Nelson: Northern Arizona University
Match found for Tristan Burrola: Catholic University
Match found for Aidan Williams: Macalester College
Match found for Quinn McCurry: William Jewell College
140
Match found for Alex Aung: Rensselaer Polytechnic Institute
Match found for Michael Phillips: Westminster College
Match found for Alex Wright: Virginia Tech
Match found for Amanda Cash: University of Lynchburg
Match found for Amanda Cash: Hollins University
Match found for Jack Burke: Franklin College
Match found for Abigail Greene: Westminster College
Match found for Gabby Miller: Pennsylvania Western-California
Match found for Alex King: University of Michigan
Match found for Kylie Clark: Salem College
150
Match found for Caleb Whittington: Truman State University
Match found for Noah Smith: University of Cincinnati
Match found for Bartlomiej Swiderski: Barton College
Match found for Bartlomiej Swiderski: University of Indianapolis
Match found for Anna Hess: Fairleigh Dickinson University, Madison
Match found for Abby Martin: Connecticut College
Match found for Mia Destefani: Southern Connecticut State University
Match found for Mia Destefani: Keene State College
Match found for Maddie Taylor: Millersville University
Match found for Molly Devine: Bard College
160
Match found for Caroline Lee: Wells College
Match found for Caroline Lee: Georgia Institute of Technology
Match found for Ella Johnson: University of Sioux Falls
Match found for Ella Johnson: Long Island University
Match found for Ella Johnson: Carroll University (WI)
Match found for Matthew Simpson: Boston University
Match found for Katie Dougherty: Rutgers University
Match found for Katie Dougherty: Indiana State University
Match found for Ben Johnson: Henderson State University
Match found for Ben Johnson: University of Montevallo
170
Match found for Ben Johnson: Grinnell College
Match found for Connor Young: Bridgewater State University
Match found for Ricky Williams: University of Iowa
Match found for Ricky Williams: University of Cincinnati
Match found for Nick Allen: Hendrix College
Match found for Nick Allen: Davis and Elkins College
Match found for Caroline Lewis: Sweet Briar College
Match found for Caroline Lewis: Susquehanna University
Match found for Jacob Berkheimer: Missouri State Aquatics
Match found for Corbett Wilson: Missouri State Aquatics
180
No match found for Jason Allen: Missouri State Aquatics
Match found for Nathan Moore: Drury University
Match found for Haley Angelo: Missouri State Aquatics
Match found for Rebecca Schmidt: Augustana University
Match found for Caleb Whittington: Missouri State Aquatics
Match found for Quinn McCurry: Missouri State Aquatics
Match found for Kevin Chen: Missouri State Aquatics
Match found for Jason Lee: University of Connecticut
No match found for Andrew Johnson: Missouri State Aquatics
185

In [20]:
dups.shape
dups

          ID             Name                                  School
75    839394      Filip Duric  St Francis College Brooklyn (New York)
111  1399661  Rachel Flaherty                 Sacred Heart University
180  1808832      Jason Allen                 Missouri State Aquatics
188   978883   Andrew Johnson                 Missouri State Aquatics

In [21]:
df[df.Name=='Filip Duric']

,Event,Conf_Rank,Time,Name,School,Standard,Date,Gender,Division,Season,SeasonYear,Time_Adj,Time_Sec,Div_Rank,NCAA_Rank,ID,Power_Tot,Power,Record,Points
19950,100 Freestyle LCM Male,-1,1:02.42,Filip Duric,St Francis College Brooklyn (New York),NA,2000-01-01,M,HS,00_01,2001,0 days 00:01:02.420000,62.42,-1,-1,508614,12.22,42.04,46.40,410.754801
21851,100 Freestyle LCM Male,-1,54.96,Filip Duric,Oklahoma Baptist University,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:54.960000,54.96,-1,-1,839394,23.63,35.94,46.40,601.746772
39707,400 Freestyle SCM Male,-1,4:18.98,Filip Duric,St Francis College Brooklyn (New York),NA,2000-01-01,M,HS,00_01,2001,0 days 00:04:18.980000,258.98,-1,-1,508614,12.22,16.82,212.25,550.483641
41526,400 Freestyle LCM Male,-1,4:15.93,Filip Duric,Oklahoma Baptist University,NA,2000-01-01,M,HS,00_01,2001,0 days 00:04:15.930000,255.93,-1,-1,839394,23.63,35.28,220.07,635.797682
45360,800 Freestyle SCM Male,-1,8:52.23,Filip Duric,St Francis College Brooklyn (New York),NA,2000-01-01,M,HS,00_01,2001,0 days 00:08:52.230000,532.23,-1,-1,508614,12.22,11.36,440.46,566.788946
46942,800 Freestyle LCM Male,-1,8:46.87,Filip Duric,Oklahoma Baptist University,NA,2000-01-01,M,HS,00_01,2001,0 days 00:08:46.870000,526.87,-1,-1,839394,23.63,38.63,452.12,631.903477
50233,1500 Freestyle SCM Male,-1,16:12.75,Filip Duric,Oklahoma Baptist University,NA,2000-01-01,M,HS,00_01,2001,0 days 00:16:12.750000,972.75,-1,-1,839394,23.63,20.82,846.88,659.875359
50454,1500 Freestyle LCM Male,-1,16:55.48,Filip Duric,St Francis College Brooklyn (New York),NA,2000-01-01,M,HS,00_01,2001,0 days 00:16:55.480000,1015.48,-1,-1,508614,12.22,11.26,870.67,630.299001
61265,100 Backstroke LCM Male,-1,1:03.35,Filip Duric,Oklahoma Baptist University,NA,2000-01-01,M,HS,00_01,2001,0 days 00:01:03.350000,63.35,-1,-1,839394,23.63,68.06,51.60,540.392418
69639,200 Backstroke LCM Male,-1,2:19.69,Filip Duric,Oklahoma Baptist University,NA,2000-01-01,M,HS,00_01,2001,0 days 00:02:19.690000,139.69,-1,-1,839394,23.63,73.75,111.92,514.312586
78840,100 Breaststroke LCM Male,-1,1:10.32,Filip Duric,Oklahoma Baptist University,NA,2000-01-01,M,HS,00_01,2001,0 days 00:01:10.320000,70.32,-1,-1,839394,23.63,51.91,56.88,529.227224
84859,200 Breaststroke SCM Male,-1,2:27.77,Filip Duric,Oklahoma Baptist University,NA,2000-01-01,M,HS,00_01,2001,0 days 00:02:27.770000,147.77,-1,-1,839394,23.63,51.36,120.16,537.676356
96079,100 Butterfly LCM Male,-1,1:00.85,Filip Duric,Oklahoma Baptist University,NA,2000-01-01,M,HS,00_01,2001,0 days 00:01:00.850000,60.85,-1,-1,839394,23.63,51.36,49.45,536.682137
101680,200 Butterfly SCM Male,-1,2:17.61,Filip Duric,Oklahoma Baptist University,NA,2000-01-01,M,HS,00_01,2001,0 days 00:02:17.610000,137.61,-1,-1,839394,23.63,70.14,106.85,468.137676
101927,200 Butterfly LCM Male,-1,2:28.82,Filip Duric,St Francis College Brooklyn (New York),NA,2000-01-01,M,HS,00_01,2001,0 days 00:02:28.820000,148.82,-1,-1,508614,12.22,44.21,110.34,407.582040
108865,100 Individual Medley SCM Male,-1,58.85,Filip Duric,Oklahoma Baptist University,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:58.850000,58.85,-1,-1,839394,23.63,16.32,49.28,587.181949
117323,200 Individual Medley SCM Male,-1,2:06.19,Filip Duric,Oklahoma Baptist University,NA,2000-01-01,M,HS,00_01,2001,0 days 00:02:06.190000,126.19,-1,-1,839394,23.63,25.82,108.88,642.346727
125031,400 Individual Medley SCM Male,-1,4:26.63,Filip Duric,Oklahoma Baptist University,NA,2000-01-01,M,HS,00_01,2001,0 days 00:04:26.630000,266.63,-1,-1,839394,23.63,19.11,234.81,683.003183
146939,200 Freestyle SCY Male,59,1:55.72,Filip Duric,St Francis College Brooklyn (New York),NS,2021-10-29,M,I,21_22,2022,0 days 00:01:55.720000,115.72,1615,3995,508614,12.22,-1.00,88.81,452.022794
147045,100 Backstroke SCY Male,40,1:01.76,Filip Duric,St Francis College Brooklyn (New York),NS,2021-10-29,M,I,21_22,2022,0 days 00:01:01.760000,61.76,1105,2853,508614,12.22,-1.00,43.35,345.816287
147057,200 Backstroke SCY Male,13,1:57.37,Filip Duric,St Francis College Brooklyn (New York),NS,2022-02-26,M,I,21_22,2022,0 days 00:01:57.370000,117.37,690,1195,508614,12.22,-1.00,95.37,536.492968
147105,100 Breaststroke SCY Male,43,1:05.22,Filip Duric,St Francis College Brooklyn (New York),NS,2022-02-02,M,I,21_22,2022,0 days 00:01:05.220000,65.22,995,2415,508614,12.22,-1.00,48.71,416.593036
147120,200 Breaststroke SCY Male,28,2:17.09,Filip Duric,St Francis College Brooklyn (New York),NS,2021-12-05,M,I,21_22,2022,0 days 00:02:17.090000,137.09,783,1620,508614,12.22,-1.00,106.35,466.869124
147207,200 Individual Medley SCY Male,12,1:55.13,Filip Duric,St Francis College Brooklyn (New York),NS,2022-02-23,M,I,21_22,2022,0 days 00:01:55.130000,115.13,850,1275,508614,12.22,-1.00,96.34,585.941707
147233,400 Individual Medley SCY Male,9,4:06.65,Filip Duric,St Francis College Brooklyn (New York),NS,2022-02-24,M,I,21_22,2022,0 days 00:04:06.650000,246.65,525,747,508614,12.22,-1.00,208.82,606.838205
155162,200 Breaststroke SCY Male,17,2:16.50,Filip Duric,St Francis College Brooklyn (New York),NS,2022-12-04,M,I,22_23,2023,0 days 00:02:16.500000,136.50,755,1547,508614,12.22,-1.00,106.35,472.949236
155201,200 Individual Medley SCY Male,28,2:04.08,Filip Duric,St Francis College Brooklyn (New York),NS,2022-12-02,M,I,22_23,2023,0 days 00:02:04.080000,124.08,1265,2599,508614,12.22,-1.00,96.34,468.074058
155208,400 Individual Medley SCY Male,17,4:27.71,Filip Duric,St Francis College Brooklyn (New York),NS,2022-12-03,M,I,22_23,2023,0 days 00:04:27.710000,267.71,712,1516,508614,12.22,-1.00,208.82,474.594272
168867,50 Freestyle SCY Male,61,23.00,Filip Duric,Oklahoma Baptist University,NS,2020-02-01,M,II,19_20,2020,0 days 00:00:23,23.00,685,3752,839394,23.63,-1.00,17.63,450.374122
168900,100 Freestyle SCY Male,77,53.68,Filip Duric,Oklahoma Baptist University,NS,2019-09-21,M,II,19_20,2020,0 days 00:00:53.680000,53.68,913,5019,839394,23.63,-1.00,39.90,410.658830
168914,200 Freestyle SCY Male,37,1:47.49,Filip Duric,Oklahoma Baptist University,NS,2020-02-14,M,II,19_20,2020,0 days 00:01:47.490000,107.49,429,2516,839394,23.63,-1.00,88.81,564.003010
168931,500 Freestyle SCY Male,25,4:57.29,Filip Duric,Oklahoma Baptist University,NS,2019-10-19,M,II,19_20,2020,0 days 00:04:57.290000,297.29,316,1959,839394,23.63,-1.00,242.31,541.468392
168975,200 Backstroke SCY Male,18,2:01.86,Filip Duric,Oklahoma Baptist University,NS,2020-01-25,M,II,19_20,2020,0 days 00:02:01.860000,121.86,242,1487,839394,23.63,-1.00,95.37,479.349001
168984,100 Breaststroke SCY Male,14,58.17,Filip Duric,Oklahoma Baptist University,NS,2020-02-14,M,II,19_20,2020,0 days 00:00:58.170000,58.17,146,906,839394,23.63,-1.00,48.71,587.160994
168994,200 Breaststroke SCY Male,13,2:08.66,Filip Duric,Oklahoma Baptist University,NS,2019-11-22,M,II,19_20,2020,0 days 00:02:08.660000,128.66,139,905,839394,23.63,-1.00,106.35,564.783293
169035,100 Butterfly SCY Male,65,57.90,Filip Duric,Oklahoma Baptist University,NS,2020-01-18,M,II,19_20,2020,0 days 00:00:57.900000,57.90,620,3416,839394,23.63,-1.00,42.80,403.920240
169069,200 Individual Medley SCY Male,9,1:53.02,Filip Duric,Oklahoma Baptist University,NS,2019-11-20,M,II,19_20,2020,0 days 00:01:53.020000,113.02,88,858,839394,23.63,-1.00,96.34,619.375492
169091,400 Individual Medley SCY Male,4,4:03.95,Filip Duric,Oklahoma Baptist University,NS,2019-11-21,M,II,19_20,2020,0 days 00:04:03.950000,243.95,70,590,839394,23.63,-1.00,208.82,627.211203

In [22]:
dups.School.value_counts().sort_values(ascending=False).head(20)

School
Missouri State Aquatics                   2
St Francis College Brooklyn (New York)    1
Sacred Heart University                   1
Name: count, dtype: int64

In [23]:
# dups.to_csv('1_21_25_Manual_Dups.csv',index=False)
# dups = pd.read_csv('1_21_25_OG_Dups.csv')

In [24]:
# dups['School'] = dups['School'].replace('Missouri State University', 'Missouri State Aquatics')
# dups['School'] = dups['School'].replace('Western Colorado University', 'West Chester University')
# dups['School'] = dups['School'].replace('Augustana University', 'Augustana College')

# dups['School'] = dups['School'].replace('Rainey McCullers School', 'Rainey-McCullers School')
# # dups['School'] = dups['School'].replace('Rainey McCullers School', 'Randolph-Macon College')

# dups['School'] = dups['School'].replace('University of Connecticut', 'Connecticut College')

In [25]:
dups.shape

(4, 3)

In [26]:
df[df.Name == 'Niamh Hofland']

,Event,Conf_Rank,Time,Name,School,Standard,Date,Gender,Division,Season,SeasonYear,Time_Adj,Time_Sec,Div_Rank,NCAA_Rank,ID,Power_Tot,Power,Record,Points
9342,50 Freestyle LCM Female,-1,28.38,Niamh Hofland,University of Connecticut,NA,2000-01-01,F,HS,00_01,2001,0 days 00:00:28.380000,28.38,-1,-1,508978,6.57,38.05,23.61,575.772327
20733,100 Freestyle LCM Female,-1,59.10,Niamh Hofland,University of Connecticut,NA,2000-01-01,F,HS,00_01,2001,0 days 00:00:59.100000,59.10,-1,-1,508978,6.57,21.16,51.71,669.824719
31410,200 Freestyle LCM Female,-1,2:05.10,Niamh Hofland,University of Connecticut,NA,2000-01-01,F,HS,00_01,2001,0 days 00:02:05.100000,125.10,-1,-1,508978,6.57,14.61,112.23,722.029530
40688,400 Freestyle LCM Female,-1,4:18.38,Niamh Hofland,University of Connecticut,NA,2000-01-01,F,HS,00_01,2001,0 days 00:04:18.380000,258.38,-1,-1,508978,6.57,9.42,235.38,756.017753
46204,800 Freestyle LCM Female,-1,8:51.77,Niamh Hofland,University of Connecticut,NA,2000-01-01,F,HS,00_01,2001,0 days 00:08:51.770000,531.77,-1,-1,508978,6.57,7.87,484.79,757.686344
50201,1500 Freestyle SCM Female,-1,16:41.79,Niamh Hofland,University of Connecticut,NA,2000-01-01,F,HS,00_01,2001,0 days 00:16:41.790000,1001.79,-1,-1,508978,6.57,3.55,908.24,745.198201
60580,100 Backstroke LCM Female,-1,1:05.26,Niamh Hofland,University of Connecticut,NA,2000-01-01,F,HS,00_01,2001,0 days 00:01:05.260000,65.26,-1,-1,508978,6.57,27.13,57.13,670.890224
69026,200 Backstroke LCM Female,-1,2:19.78,Niamh Hofland,University of Connecticut,NA,2000-01-01,F,HS,00_01,2001,0 days 00:02:19.780000,139.78,-1,-1,508978,6.57,23.97,123.14,683.694898
94858,100 Butterfly LCM Female,-1,1:04.82,Niamh Hofland,University of Connecticut,NA,2000-01-01,F,HS,00_01,2001,0 days 00:01:04.820000,64.82,-1,-1,508978,6.57,24.23,55.18,616.904600
102373,200 Butterfly LCM Female,-1,2:29.27,Niamh Hofland,University of Connecticut,NA,2000-01-01,F,HS,00_01,2001,0 days 00:02:29.270000,149.27,-1,-1,508978,6.57,45.31,121.81,543.414511
108698,100 Individual Medley SCM Female,-1,1:05.19,Niamh Hofland,University of Connecticut,NA,2000-01-01,F,HS,00_01,2001,0 days 00:01:05.190000,65.19,-1,-1,508978,6.57,41.24,55.11,604.154883
118084,200 Individual Medley LCM Female,-1,2:19.61,Niamh Hofland,University of Connecticut,NA,2000-01-01,F,HS,00_01,2001,0 days 00:02:19.610000,139.61,-1,-1,508978,6.57,12.41,126.12,737.228821
124975,400 Individual Medley SCM Female,-1,4:45.49,Niamh Hofland,University of Connecticut,NA,2000-01-01,F,HS,00_01,2001,0 days 00:04:45.490000,285.49,-1,-1,508978,6.57,10.20,255.48,716.635009
238354,200 Freestyle SCY Female,2,1:54.37,Niamh Hofland,Connecticut College,NS,2021-03-06,F,I,20_21,2021,0 days 00:01:54.370000,114.37,736,836,508978,6.57,-1.00,99.10,650.555870
238635,400 Individual Medley SCY Female,1,4:26.33,Niamh Hofland,Connecticut College,NS,2021-03-06,F,I,20_21,2021,0 days 00:04:26.330000,266.33,264,283,508978,6.57,-1.00,234.60,683.476766
250342,100 Freestyle SCY Female,60,54.93,Niamh Hofland,Connecticut College,NS,2022-02-05,F,I,21_22,2022,0 days 00:00:54.930000,54.93,2073,3136,508978,6.57,-1.00,44.83,543.597461
250391,200 Freestyle SCY Female,34,1:55.76,Niamh Hofland,Connecticut College,NS,2021-11-05,F,I,21_22,2022,0 days 00:01:55.760000,115.76,1406,1816,508978,6.57,-1.00,99.10,627.401293
250423,500 Freestyle SCY Female,2,4:50.98,Niamh Hofland,Connecticut College,NS,2021-11-19,F,I,21_22,2022,0 days 00:04:50.980000,290.98,203,205,508978,6.57,-1.00,264.06,747.340362
250470,1000 Freestyle SCY Female,5,10:27.26,Niamh Hofland,Connecticut College,NS,2022-01-15,F,I,21_22,2022,0 days 00:10:27.260000,627.26,277,340,508978,6.57,-1.00,546.90,662.797694
250493,1650 Freestyle SCY Female,1,16:37.84,Niamh Hofland,Connecticut College,NS,2021-11-21,F,I,21_22,2022,0 days 00:16:37.840000,997.84,107,108,508978,6.57,-1.00,903.31,741.869858
250563,100 Backstroke SCY Female,31,58.18,Niamh Hofland,Connecticut College,NS,2022-02-05,F,I,21_22,2022,0 days 00:00:58.180000,58.18,957,1206,508978,6.57,-1.00,48.10,565.085389
250607,200 Backstroke SCY Female,24,2:06.29,Niamh Hofland,Connecticut College,NS,2022-01-14,F,I,21_22,2022,0 days 00:02:06.290000,126.29,822,997,508978,6.57,-1.00,106.87,605.983136
250700,200 Breaststroke SCY Female,27,2:32.20,Niamh Hofland,Connecticut College,NS,2021-10-23,F,I,21_22,2022,0 days 00:02:32.200000,152.20,1001,1578,508978,6.57,-1.00,121.29,506.093816
250715,50 Butterfly SCY Female,11,26.80,Niamh Hofland,Connecticut College,NS,2021-12-04,F,I,21_22,2022,0 days 00:00:26.800000,26.80,237,311,508978,6.57,-1.00,22.18,566.865783
250795,100 Individual Medley SCY Female,2,1:00.33,Niamh Hofland,Connecticut College,NS,2021-12-04,F,I,21_22,2022,0 days 00:01:00.330000,60.33,219,262,508978,6.57,-1.00,50.72,594.206993
250826,200 Individual Medley SCY Female,25,2:08.57,Niamh Hofland,Connecticut College,NS,2021-10-16,F,I,21_22,2022,0 days 00:02:08.570000,128.57,1050,1259,508978,6.57,-1.00,108.37,598.836534
250864,400 Individual Medley SCY Female,4,4:18.07,Niamh Hofland,Connecticut College,NS,2022-02-25,F,I,21_22,2022,0 days 00:04:18.070000,258.07,140,148,508978,6.57,-1.00,234.60,751.227466
277074,50 Freestyle SCY Female,56,25.11,Niamh Hofland,Connecticut College,NS,2023-02-04,F,I,22_23,2023,0 days 00:00:25.110000,25.11,2054,3084,508978,6.57,-1.00,20.37,533.866843
277136,100 Freestyle SCY Female,71,56.74,Niamh Hofland,Connecticut College,NS,2023-02-04,F,I,22_23,2023,0 days 00:00:56.740000,56.74,2580,4404,508978,6.57,-1.00,44.83,493.217210
277146,200 Freestyle SCY Female,8,1:50.81,Niamh Hofland,Connecticut College,NS,2023-02-22,F,I,22_23,2023,0 days 00:01:50.810000,110.81,612,669,508978,6.57,-1.00,99.10,715.293204
277188,500 Freestyle SCY Female,1,4:50.79,Niamh Hofland,Connecticut College,NS,2022-11-18,F,I,22_23,2023,0 days 00:04:50.790000,290.79,220,225,508978,6.57,-1.00,264.06,748.806239
277225,1000 Freestyle SCY Female,1,10:13.52,Niamh Hofland,Connecticut College,NS,2022-10-22,F,I,22_23,2023,0 days 00:10:13.520000,613.52,182,210,508978,6.57,-1.00,546.90,708.333197
277247,1650 Freestyle SCY Female,2,16:36.29,Niamh Hofland,Connecticut College,NS,2023-02-25,F,I,22_23,2023,0 days 00:16:36.290000,996.29,103,106,508978,6.57,-1.00,903.31,745.337789
277335,200 Backstroke SCY Female,17,2:03.34,Niamh Hofland,Connecticut College,NS,2023-01-27,F,I,22_23,2023,0 days 00:02:03.340000,123.34,606,687,508978,6.57,-1.00,106.87,650.512425
277492,200 Individual Medley SCY Female,11,2:05.40,Niamh Hofland,Connecticut College,NS,2022-11-05,F,I,22_23,2023,0 days 00:02:05.400000,125.40,692,769,508978,6.57,-1.00,108.37,645.408396
277534,400 Individual Medley SCY Female,2,4:16.64,Niamh Hofland,Connecticut College,B,2023-02-24,F,I,22_23,2023,0 days 00:04:16.640000,256.64,120,123,508978,6.57,-1.00,234.60,763.855102
280699,100 Freestyle SCY Female,52,53.97,Niamh Hofland,Connecticut College,NS,2024-02-10,F,I,23_24,2024,0 days 00:00:53.970000,53.97,1878,2641,508978,6.57,-1.00,44.83,573.124485
280730,200 Freestyle SCY Female,49,1:56.51,Niamh Hofland,Connecticut College,NS,2023-10-12,F,I,23_24,2024,0 days 00:01:56.510000,116.51,1609,2146,508978,6.57,-1.00,99.10,615.362967
280741,500 Freestyle SCY Female,5,4:52.87,Niamh Hofland,Connecticut College,NS,2023-12-01,F,I,23_24,2024,0 days 00:04:52.870000,292.87,298,313,508978,6.57,-1.00,264.06,732.964929
280766,1000 Freestyle SCY Female,1,10:10.94,Niamh Hofland,Connecticut College,NS,2024-02-02,F,I,23_24,2024,0 days 00:10:10.940000,610.94,193,219,508978,6.57,-1.00,546.90,717.345021
280778,1650 Freestyle SCY Female,3,16:42.75,Niamh Hofland,Connecticut College,NS,2023-12-03,F,I,23_24,2024,0 days 00:16:42.750000,1002.75,142,152,508978,6.57,-1.00,903.31,731.025358
280811,100 Backstroke SCY Female,13,56.23,Niamh Hofland,Connecticut College,NS,2023-11-11,F,I,23_24,2024,0 days 00:00:56.230000,56.23,568,637,508978,6.57,-1.00,48.10,625.937511
280836,200 Backstroke SCY Female,5,1:59.19,Niamh Hofland,Connecticut College,NS,2023-11-11,F,I,23_24,2024,0 days 00:01:59.190000,119.19,289,306,508978,6.57,-1.00,106.87,720.855089
280951,200 Individual Medley SCY Female,25,2:07.64,Niamh Hofland,Connecticut College,NS,2023-11-04,F,I,23_24,2024,0 days 00:02:07.640000,127.64,977,1159,508978,6.57,-1.00,108.37,612.021718
280980,400 Individual Medley SCY Female,27,4:37.65,Niamh Hofland,Connecticut College,NS,2023-10-12,F,I,23_24,2024,0 days 00:04:37.650000,277.65,782,1017,508978,6.57,-1.00,234.60,603.241193

In [27]:
df.shape

(358104, 20)

In [28]:
df.to_parquet('1_21_25_2ndUpdatedSchoolNames.parquet')

In [29]:
df[df.Name=='Jason Lee']

,Event,Conf_Rank,Time,Name,School,Standard,Date,Gender,Division,Season,SeasonYear,Time_Adj,Time_Sec,Div_Rank,NCAA_Rank,ID,Power_Tot,Power,Record,Points
8289,50 Freestyle LCM Male,-1,30.58,Jason Lee,Marywood,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:30.580000,30.58,-1,-1,456361,82.58,100.00,20.91,319.705167
13102,100 Freestyle SCY Male,-1,52.97,Jason Lee,Marywood,NA,2000-01-01,M,HS,00_01,2001,0 days 00:00:52.970000,52.97,-1,-1,456361,82.58,83.43,39.90,427.394342
24065,200 Freestyle SCY Male,-1,1:59.05,Jason Lee,Marywood,NA,2000-01-01,M,HS,00_01,2001,0 days 00:01:59.050000,119.05,-1,-1,456361,82.58,94.04,88.81,415.142705
34246,500 Freestyle SCY Male,-1,5:32.87,Jason Lee,Marywood,NA,2000-01-01,M,HS,00_01,2001,0 days 00:05:32.870000,332.87,-1,-1,456361,82.58,100.00,242.31,385.735886
71628,100 Breaststroke SCY Male,-1,1:04.83,Jason Lee,Marywood,NA,2000-01-01,M,HS,00_01,2001,0 days 00:01:04.830000,64.83,-1,-1,456361,82.58,79.85,48.71,424.156693
85182,200 Breaststroke LCM Male,-1,3:17.73,Jason Lee,Marywood,NA,2000-01-01,M,HS,00_01,2001,0 days 00:03:17.730000,197.73,-1,-1,456361,82.58,100.00,125.48,255.567621
111050,200 Individual Medley SCY Male,-1,2:19.41,Jason Lee,Marywood,NA,2000-01-01,M,HS,00_01,2001,0 days 00:02:19.410000,139.41,-1,-1,456361,82.58,100.00,96.34,330.018392
131017,50 Freestyle SCY Male,56,22.33,Jason Lee,Connecticut College,NS,2019-11-23,M,I,19_20,2020,0 days 00:00:22.330000,22.33,1526,2852,456361,82.58,-1.00,17.63,492.142383
131050,100 Freestyle SCY Male,55,48.24,Jason Lee,Connecticut College,NS,2019-11-02,M,I,19_20,2020,0 days 00:00:48.240000,48.24,1418,2463,456361,82.58,-1.00,39.90,565.844097
131213,100 Butterfly SCY Male,19,50.53,Jason Lee,Connecticut College,NS,2019-12-06,M,I,19_20,2020,0 days 00:00:50.530000,50.53,753,1036,456361,82.58,-1.00,42.80,607.691851
131236,200 Butterfly SCY Male,19,1:52.03,Jason Lee,Connecticut College,NS,2019-12-07,M,I,19_20,2020,0 days 00:01:52.030000,112.03,495,646,456361,82.58,-1.00,97.35,656.152608
131257,200 Individual Medley SCY Male,24,1:54.40,Jason Lee,Connecticut College,NS,2019-12-05,M,I,19_20,2020,0 days 00:01:54.400000,114.40,782,1075,456361,82.58,-1.00,96.34,597.230327
134444,100 Butterfly SCY Male,16,52.22,Jason Lee,Seton Hall University,NS,2021-03-05,M,I,20_21,2021,0 days 00:00:52.220000,52.22,680,1009,456361,82.58,-1.00,42.80,550.580346
134458,200 Butterfly SCY Male,7,1:54.49,Jason Lee,Seton Hall University,NS,2021-03-20,M,I,20_21,2021,0 days 00:01:54.490000,114.49,383,515,456361,82.58,-1.00,97.35,614.759433
134472,200 Individual Medley SCY Male,8,1:57.67,Jason Lee,Seton Hall University,NS,2021-03-20,M,I,20_21,2021,0 days 00:01:57.670000,117.67,653,913,456361,82.58,-1.00,96.34,548.810821
134493,400 Individual Medley SCY Male,11,4:20.15,Jason Lee,Seton Hall University,NS,2021-03-13,M,I,20_21,2021,0 days 00:04:20.150000,260.15,420,654,456361,82.58,-1.00,208.82,517.183646
142246,100 Butterfly SCY Male,22,51.02,Jason Lee,Seton Hall University,NS,2022-01-22,M,I,21_22,2022,0 days 00:00:51.020000,51.02,921,1364,456361,82.58,-1.00,42.80,590.350512
142276,200 Butterfly SCY Male,17,1:54.18,Jason Lee,Seton Hall University,NS,2022-01-22,M,I,21_22,2022,0 days 00:01:54.180000,114.18,582,883,456361,82.58,-1.00,97.35,619.780277
142310,200 Individual Medley SCY Male,20,1:54.13,Jason Lee,Seton Hall University,NS,2021-11-18,M,I,21_22,2022,0 days 00:01:54.130000,114.13,772,1110,456361,82.58,-1.00,96.34,601.479007
142345,400 Individual Medley SCY Male,22,4:08.49,Jason Lee,Seton Hall University,NS,2021-11-19,M,I,21_22,2022,0 days 00:04:08.490000,248.49,554,822,456361,82.58,-1.00,208.82,593.457368
184949,100 Freestyle SCY Male,18,54.17,Jason Lee,Marywood,NS,2020-02-16,M,III,19_20,2020,0 days 00:00:54.170000,54.17,2203,5115,456361,82.58,-1.00,39.90,399.615367
184953,200 Freestyle SCY Male,17,2:01.22,Jason Lee,Marywood,NS,2020-02-15,M,III,19_20,2020,0 days 00:02:01.220000,121.22,1894,4413,456361,82.58,-1.00,88.81,393.244603
184958,500 Freestyle SCY Male,13,5:44.16,Jason Lee,Marywood,NS,2020-02-14,M,III,19_20,2020,0 days 00:05:44.160000,344.16,1396,3085,456361,82.58,-1.00,242.31,349.005952
184962,1000 Freestyle SCY Male,16,12:37.62,Jason Lee,Marywood,NS,2019-11-16,M,III,19_20,2020,0 days 00:12:37.620000,757.62,949,2052,456361,82.58,-1.00,513.93,312.145887
184967,50 Backstroke SCY Male,14,33.26,Jason Lee,Marywood,NS,2019-10-19,M,III,19_20,2020,0 days 00:00:33.260000,33.26,1190,2391,456361,82.58,-1.00,20.07,219.722931
184972,100 Backstroke SCY Male,23,1:11.81,Jason Lee,Marywood,NS,2019-11-09,M,III,19_20,2020,0 days 00:01:11.810000,71.81,1537,3260,456361,82.58,-1.00,43.35,219.994856
184976,100 Breaststroke SCY Male,18,1:13.53,Jason Lee,Marywood,NS,2019-10-20,M,III,19_20,2020,0 days 00:01:13.530000,73.53,1361,2902,456361,82.58,-1.00,48.71,290.710482
184977,200 Breaststroke SCY Male,13,2:48.17,Jason Lee,Marywood,NS,2019-11-09,M,III,19_20,2020,0 days 00:02:48.170000,168.17,1015,2250,456361,82.58,-1.00,106.35,252.910529
184979,200 Individual Medley SCY Male,23,2:33.96,Jason Lee,Marywood,NS,2019-11-16,M,III,19_20,2020,0 days 00:02:33.960000,153.96,1642,3668,456361,82.58,-1.00,96.34,245.017000
184981,400 Individual Medley SCY Male,11,5:38.78,Jason Lee,Marywood,NS,2019-11-09,M,III,19_20,2020,0 days 00:05:38.780000,338.78,891,2019,456361,82.58,-1.00,208.82,234.187108
191046,200 Freestyle SCY Male,4,2:03.48,Jason Lee,Marywood,NS,2021-03-20,M,III,20_21,2021,0 days 00:02:03.480000,123.48,522,2151,456361,82.58,-1.00,88.81,372.045236
191053,200 Breaststroke SCY Male,3,2:37.01,Jason Lee,Marywood,NS,2021-03-20,M,III,20_21,2021,0 days 00:02:37.010000,157.01,267,1143,456361,82.58,-1.00,106.35,310.763885
191055,200 Individual Medley SCY Male,5,2:29.62,Jason Lee,Marywood,NS,2021-03-20,M,III,20_21,2021,0 days 00:02:29.620000,149.62,451,1802,456361,82.58,-1.00,96.34,266.962939
194608,50 Freestyle SCY Male,24,24.90,Jason Lee,Marywood,NS,2021-11-06,M,III,21_22,2022,0 days 00:00:24.900000,24.90,2441,5422,456361,82.58,-1.00,17.63,354.943229
194620,100 Freestyle SCY Male,25,56.80,Jason Lee,Marywood,NS,2021-10-23,M,III,21_22,2022,0 days 00:00:56.800000,56.80,2665,5660,456361,82.58,-1.00,39.90,346.636012
194632,200 Freestyle SCY Male,24,2:05.58,Jason Lee,Marywood,NS,2022-01-29,M,III,21_22,2022,0 days 00:02:05.580000,125.58,2083,4636,456361,82.58,-1.00,88.81,353.691134
194665,100 Breaststroke SCY Male,3,1:03.44,Jason Lee,Marywood,NS,2022-02-12,M,III,21_22,2022,0 days 00:01:03.440000,63.44,804,2186,456361,82.58,-1.00,48.71,452.652440
194670,200 Breaststroke SCY Male,2,2:18.06,Jason Lee,Marywood,NS,2022-02-13,M,III,21_22,2022,0 days 00:02:18.060000,138.06,575,1673,456361,82.58,-1.00,106.35,457.097531
194687,200 Individual Medley SCY Male,13,2:16.67,Jason Lee,Marywood,NS,2022-02-11,M,III,21_22,2022,0 days 00:02:16.670000,136.67,1442,3488,456361,82.58,-1.00,96.34,350.267903
194692,400 Individual Medley SCY Male,10,5:37.45,Jason Lee,Marywood,NS,2021-11-13,M,III,21_22,2022,0 days 00:05:37.450000,337.45,841,1969,456361,82.58,-1.00,208.82,236.967058
210397,50 Freestyle SCY Male,23,24.20,Jason Lee,Marywood,NS,2023-02-10,M,III,22_23,2023,0 days 00:00:24.200000,24.20,2204,5096,456361,82.58,-1.00,17.63,386.643612
210404,100 Freestyle SCY Male,21,56.95,Jason Lee,Marywood,NS,2023-01-13,M,III,22_23,2023,0 days 00:00:56.950000,56.95,2607,5576,456361,82.58,-1.00,39.90,343.904217
210423,1000 Freestyle SCY Male,10,12:59.00,Jason Lee,Marywood,NS,2022-11-13,M,III,22_23,2023,0 days 00:12:59,779.00,902,1928,456361,82.58,-1.00,513.93,287.143861
210440,100 Breaststroke SCY Male,6,1:04.26,Jason Lee,Marywood,NS,2023-02-10,M,III,22_23,2023,0 days 00:01:04.260000,64.26,902,2297,456361,82.58,-1.00,48.71,435.544190
210444,200 Breaststroke SCY Male,2,2:22.76,Jason Lee,Marywood,NS,2023-02-10,M,III,22_23,2023,0 days 00:02:22.760000,142.76,720,1855,456361,82.58,-1.00,106.35,413.421316
210461,200 Individual Medley SCY Male,16,2:34.91,Jason Lee,Marywood,NS,2022-10-29,M,III,22_23,2023,0 days 00:02:34.910000,154.91,1673,3697,456361,82.58,-1.00,96.34,240.536819
210463,400 Individual Medley SCY Male,7,5:41.93,Jason Lee,Marywood,NS,2022-11-13,M,III,22_23,2023,0 days 00:05:41.930000,341.93,857,1980,456361,82.58,-1.00,208.82,227.774266