In [1]:
import pandas as pd
from IPython.display import clear_output
import pandas as pd

In [2]:
import time
import random

In [3]:
name_info = pd.read_parquet('./3more_name_info_dtypes.parquet')
name_info.head(2)

             Name School  Power             Link Hometown
0   Tiago ASAKAWA   UMBC   -1.0  /swimmer/515075
1  Niklas Weigelt   UMBC   -1.0  /swimmer/413265

In [4]:
import requests
import csv
from bs4 import BeautifulSoup as bs
import pandas as pd
import time as _time
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import Select
from selenium.webdriver.chrome.options import Options
from selenium.common.exceptions import TimeoutException
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.webdriver.common.action_chains import ActionChains
import re

def getpi(swimmer_name):
    swimmer_name_url = 'https://swimcloud.com/recruiting/rankings/?name='+swimmer_name.replace(' ','+')
    name_url = requests.get(swimmer_name_url, headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/81.0.4044.138 Safari/537.36', 'Referer' : 'https://google.com/'})
    name_url.encoding = 'utf-8'
    name_soup = bs(name_url.text, 'html.parser')
    # print(name_soup)
    # print(name_soup)
    # print(name_url.text)
    names=[]
    links=[]
    idxs=[]
    teams=[]
    if (name_soup.find('tbody') == None):
        # print('No tbody')
        return None
    swimmer_list = name_soup.find('tbody').find_all('tr')
    i=0
    for swimmer in swimmer_list:
        if len(name_soup.find_all('td', {'class' : 'u-text-end'})) == 0:
            # print('No idx found')
            break
        name = swimmer.find(class_='u-text-semi')
        name_str = str(name)
        start = name_str.find('>') + 1
        end = name_str.find('</a>')
        # Extract the text between '>' and '<'
        name_raw = name_str[start:end]
        if (name_raw.lower() == swimmer_name.lower() or name_raw.split(' ')[-1].lower() == swimmer_name.lower()):
            names.append(name_raw)
            swimmer_link = name['href'] if name else ''
            links.append(swimmer_link)
            # if (swimmer_name == 'Reese Samuel'):
            #     print(i)
            #     print(name_soup.find_all('td', {'class' : 'u-text-end'})[i])
            if (len(name_soup.find_all('td', {'class' : 'u-text-end'})) == 0):
                return None
            idxs.append(float(name_soup.find_all('td', {'class' : 'u-text-end'})[i].text.strip()))
            team_td = swimmer.find_all('td', class_='u-text-center hidden-xs')[0]
            # Find the <img> tag within the <td>
            img_tag = team_td.find('img')
            if img_tag == None:
                # teams.append('')
                names.pop()
                links.pop()
                idxs.pop()
                # print('None team')
            else:
                # Extract the 'alt' attribute value, which contains the team name
                team_name = img_tag['alt'][:-5]
                teams.append(team_name)
        i = i + 1
    # print(names)
    # print(links)
    # print(hometowns)
    return [names,links,idxs,teams,hometowns]

In [5]:
name_info.Power.value_counts()

Power
-1.00      10668
 100.00      146
 2.51          6
 27.78         6
 40.27         6
           ...
 35.40         1
 48.95         1
 16.77         1
 20.48         1
 15.99         1
Name: count, Length: 1350, dtype: int64

In [6]:
import time

def getPowerIndex(swimmer_ID):
	swimmer_url = 'https://swimcloud.com/swimmer/' + str(swimmer_ID)

	url = requests.get(swimmer_url, headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/81.0.4044.138 Safari/537.36', 'Referer' : 'https://google.com/'})
	url.encoding = 'utf-8'
	
	if url.status_code == 404:
		raise ValueError(f"The swimmer {swimmer_ID} was not found")

	soup = bs(url.text, 'html.parser')
	

	data_array = soup.find_all('li', {'class' : 'c-list-bar__item'}) # returns the container items containing headers for recruiting stats
	for d in data_array:
		if d.find(class_='c-list-bar__subheader').get('title') == 'Power index':
				return float(d.find(class_='c-list-bar__description').text.strip())
	if soup.find('h1', {'class' : 'c-toolbar__title'}) == None:
				time.sleep(20)
				return -1.0
	swimmer_name = soup.find('h1', {'class' : 'c-toolbar__title'}).text.strip()

	swimmer_name_url = 'https://swimcloud.com/recruiting/rankings/?name=' + swimmer_name.replace(' ', '+')

	name_url = requests.get(swimmer_name_url, headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/81.0.4044.138 Safari/537.36', 'Referer' : 'https://google.com/'})

	name_url.encoding = 'utf-8'

	name_soup = bs(name_url.text, 'html.parser')

	if name_soup.find('tbody') == None:
				time.sleep(20)
				return -1.0
	swimmer_list = name_soup.find('tbody').find_all('tr')
	
	for swimmer in swimmer_list:
		#check if this is the correct swimmer by looking to see if the link matches their id
		name = swimmer.find(class_='u-text-semi')
		swimmer_link = name['href'] if name else ''
		if(swimmer_link == "/swimmer/" + str(swimmer_ID)):
			#a power index was found for the specified swimmer_ID!
			return float(name_soup.find('td', {'class' : 'u-text-end'}).text.strip())

	return -1.0 #if no swimmer is found with the correct swimmer ID #, return -1

In [9]:
import requests
import csv
from bs4 import BeautifulSoup as bs
import pandas as pd
import time as _time
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import Select
from selenium.webdriver.chrome.options import Options
from selenium.common.exceptions import TimeoutException
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.webdriver.common.action_chains import ActionChains
import re

def getpi(swimmer_name,swimmer_id):
    swimmer_name_url = 'https://swimcloud.com/recruiting/rankings/?name='+swimmer_name.replace(' ','+')
    name_url = requests.get(swimmer_name_url, headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/81.0.4044.138 Safari/537.36', 'Referer' : 'https://google.com/'})
    name_url.encoding = 'utf-8'
    name_soup = bs(name_url.text, 'html.parser')
    names=[]
    links=[]
    idxs=[]
    teams=[]
    if (name_soup.find('tbody') == None):
        # print('No tbody')
        time.sleep(20)
        return getPowerIndex(swimmer_id)
    swimmer_list = name_soup.find('tbody').find_all('tr')
    i=0
    for swimmer in swimmer_list:
        if len(name_soup.find_all('td', {'class' : 'u-text-end'})) == 0:
            # print('No idx found')
            break
        name = swimmer.find(class_='u-text-semi')
        name_str = str(name)
        start = name_str.find('>') + 1
        end = name_str.find('</a>')
        # Extract the text between '>' and '<'
        name_raw = name_str[start:end]
        if (name_raw.lower() == swimmer_name.lower() or name_raw.split(' ')[-1].lower() == swimmer_name.lower()):
            names.append(name_raw)
            swimmer_link = name['href'] if name else ''
            links.append(swimmer_link)
            if (len(name_soup.find_all('td', {'class' : 'u-text-end'})) == 0):
                time.sleep(20)
                return getPowerIndex(swimmer_id)
            idxs.append(float(name_soup.find_all('td', {'class' : 'u-text-end'})[i].text.strip()))
        i = i + 1
    print(names)
    # print(links)
    # print(hometowns)
    if (len(names) == 1):
        print("returning " + str(idxs[0]))
        return idxs[0]
    else:  
        return getPowerIndex(swimmer_id)

In [16]:
import random
from IPython.display import clear_output

for i in range(len(name_info)):
    idx = name_info.at[i, 'Power']
    if idx != -1.0:
        # print('Skipped')
        continue
    else:
        swimmer_ID = name_info.at[i, 'Link'].split('/')[-1]
        name_info.at[i, 'Power'] = getpi(name_info.at[i, 'Name'], swimmer_ID)
        print(name_info.at[i, 'Power'])
        random_number = random.randint(1, 3)
        if random_number == 1:
            clear_output()
        else:
            print(name_info.Power.value_counts().head(2))

['Hannah Hamilton', 'Hannah Hamilton', 'Hannah Hamilton']
-1.0
Power
100.0    928
1.0       19
Name: count, dtype: int64
['Lauren Rohde', 'Lauren Rohde']
-1.0
Power
100.0    928
1.0       19
Name: count, dtype: int64

In [14]:
name_info.Power.value_counts()

Power
100.00    928
1.00       19
100.95     12
17.95      10
22.86      10
         ...
64.82       1
41.48       1
43.57       1
32.08       1
40.77       1
Name: count, Length: 5546, dtype: int64

In [15]:
name_info[name_info.Power==-1]

                  Name       School  Power              Link Hometown
11454  Hannah Hamilton  Puget Sound   -1.0  /swimmer/1330912
11695     Lauren Rohde   Swarthmore   -1.0  /swimmer/1803500

In [18]:
name_info.loc[11454,'Power']=62.04
name_info.loc[11695,'Power']=44.82

In [19]:
name_info[name_info.Power==-1]

Empty DataFrame
Columns: [Name, School, Power, Link, Hometown]
Index: []

In [20]:
name_info = name_info.drop('Hometown',axis=1)

In [21]:
name_info.to_parquet('4more_name_info_dtypes.parquet', index=False)